.md-bottom-app-bar {
    display: inline-flex;
    height: 80px;
    border-radius: var(--md-sys-shape-corner-none);
    background: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface-variant);
    box-shadow: var(--md-sys-elevation-level0);
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-emphasized));
    animation-duration: var(--md-sys-motion-duration-short4);

    &:not([open]) {
        visibility: hidden;
        pointer-events: none;
    }

    .md-pane__header {
        height: 80px;
        padding: 12px 16px;
        gap: 0 12px;

        + .md-pane__body {
            margin-top: -16px;
        }
    }

    .md-pane__actions {
        gap: 0 24px;
    }

    .md-pane__label-primary {
        @include typography-title-large();
        height: var(--md-sys-typescale-title-large-line-height);
    }

    .md-pane__inner {
        padding: 0 16px;
        margin: 16px 0;

        + .md-pane__footer {
            margin-top: -16px;
        }
    }

    .md-pane__footer {
        padding: 16px;
    }
}

.md-bottom-app-bar {
    grid-area: south;
    animation-name: var(--md-comp-pane-animation, sheetSouthIn);

    &:not([open]) {
        margin-bottom: calc(0px - var(--md-comp-pane-height, 100vw));
        animation-name: var(--md-comp-pane-animation, sheetSouthOut);
    }
}

.md-bottom-app-bar {
    background: var(--md-sys-color-surface-container-low);
    color: var(--md-sys-color-on-surface-variant);
    box-shadow: var(--md-sys-elevation-level1);
}

.md-bottom-app-bar__fab {
    margin-left: auto;
}
