.md-data-table__item {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 0 16px;
    background-color: var(--md-sys-color-surface-container-lowest);
    color: var(--md-sys-color-on-surface-variant);
}
.md-data-table__avatar {
    width: 40px;
    height: 40px;
}
.md-data-table__thumbnail {
    width: 56px;
    height: 56px;
}
.md-data-table__video {
    height: 64px;
    margin: 4px 0 4px -16px;
}
.md-data-table__inner {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0 4px;
    min-width: 0;
    min-height: 0;
}
.md-data-table__label {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.md-data-table__label-primary {
    @include typescale-body-medium();
    height: var(--md-sys-typescale-body-medium-line-height);
    overflow: hidden;
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.md-data-table__label-secondary {
    @include typescale-body-medium();
    height: var(--md-sys-typescale-body-medium-line-height);
    overflow: hidden;
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.md-data-table__text {
    @include typescale-body-small();
}

.md-data-table__item {
    min-height: 56px;
}
.md-data-table__item--two {
    min-height: 72px;
}
.md-data-table__item--three {
    align-items: flex-start;
    min-height: 88px;
    padding-top: 12px;
    padding-bottom: 12px;

    .md-data-table__video {
        margin-top: 0;
        margin-bottom: 0;
    }

    .md-data-table__label-secondary {
        height: calc(var(--md-sys-typescale-body-medium-line-height) * 2);
    }
}
