.md-color-picker {
    display: inline-flex;
    flex-direction: column;
    border-radius: var(--md-sys-shape-corner-large);
    background: var(
        --md-sys-color-surface-container
    ); // var(--md-sys-color-surface-container-high);
    color: var(--md-sys-color-on-surface);
    box-shadow: var(--md-sys-elevation-level3);
    position: absolute;
    z-index: 4;
    transition-property: all;
    transition-duration: var(--md-sys-motion-duration-short4);
    transition-timing-function: cubic-bezier(
        var(--md-sys-motion-easing-legacy)
    );

    &:not([open]) {
        opacity: 0;
        pointer-events: none;
    }
}

.md-color-picker__header {
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 0 16px;
}

.md-color-picker__actions {
    display: inline-flex;
    align-items: center;
    gap: 0 16px;
}

// .md-color-picker__action {}

.md-color-picker__label {
    flex: 1;
    display: flex;
    align-items: center;
    height: 40px;
    gap: 0 8px;
}

.md-color-picker__label-primary {
    @include md-typography-title-small;
    @include md-ripple--button;
}

.md-color-picker__label-secondary {
    @include md-typography-title-small;
    @include md-ripple--button;
}

.md-color-picker__body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.md-color-picker__inner {
    flex: 1;
    @include md-typography-body-medium;
}

.md-color-picker__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 16px;
    gap: 0 8px;
}

// .md-color-picker__button {
// }

.md-color-picker__scrim {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    transition-property: all;
    transition-duration: var(--md-sys-motion-duration-short4);
    transition-timing-function: cubic-bezier(
        var(--md-sys-motion-easing-legacy)
    );

    &:not([open]) {
        opacity: 0;
        pointer-events: none;
    }
}

.md-color-picker__card {
    display: flex;
    overflow: hidden;
    width: calc((32px * 7) + (4px * 6) + (16px * 2));
    height: calc((32px * 7) + (4px * 6));
}
.md-color-picker__card-item {
    flex: 1 0 100%;
    overflow: auto;
    transform: translate3d(
        calc((0 - var(--md-color-picker-index)) * 100%),
        0%,
        0px
    );
}

.md-color-picker__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 4px 0;
}
.md-color-picker__solid {
    flex: 1;
    position: relative;
    overflow: hidden;
}
.md-color-picker__track {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, black),
        linear-gradient(to right, white, transparent), #ff0000;
}
.md-color-picker__thumb {
    width: 20px;
    height: 20px;
    transform: translate3d(-50%, -50%, 0);
    border-radius: calc(20px / 2);
    background: var(--md-color-picker-rgb);
    border: 2px solid var(--md-sys-color-background);
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}

.md-color-picker__hue {
    appearance: none;
    height: 32px;
    transform: rotate(-180deg);
    background: transparent;
}
.md-color-picker__hue::-webkit-slider-container {
    appearance: none;
    width: 100%;
    height: 100%;
}
.md-color-picker__hue::-webkit-slider-runnable-track {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to right,
        hsl(0deg 100% 50%),
        hsl(60deg 100% 50%),
        hsl(120deg 100% 50%),
        hsl(160deg 100% 50%),
        hsl(240deg 100% 50%),
        hsl(300deg 100% 50%),
        hsl(360deg 100% 50%)
    );
}
.md-color-picker__hue::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    margin-top: calc((32px - 20px) / 2);
    border-radius: calc(20px / 2);
    background: var(--md-color-picker-hsl);
    border: 2px solid var(--md-sys-color-background);
}

.md-color-picker__opacity {
    appearance: none;
    height: 32px;
    background: transparent;
}
.md-color-picker__opacity::-webkit-slider-container {
    appearance: none;
    width: 100%;
    height: 100%;
    background-image: repeating-linear-gradient(
            45deg,
            var(--md-sys-color-surface-container-high) 25%,
            transparent 25%,
            transparent 75%,
            var(--md-sys-color-surface-container-high) 75%,
            var(--md-sys-color-surface-container-high)
        ),
        repeating-linear-gradient(
            45deg,
            var(--md-sys-color-surface-container-high) 25%,
            var(--md-sys-color-background) 25%,
            var(--md-sys-color-background) 75%,
            var(--md-sys-color-surface-container-high) 75%,
            var(--md-sys-color-surface-container-high)
        );
    background-position:
        0 0,
        calc(16px / 2) calc(16px / 2);
    background-size: 16px 16px;
}
.md-color-picker__opacity::-webkit-slider-runnable-track {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to right,
        transparent,
        var(--md-color-picker-rgb)
    );
}
.md-color-picker__opacity::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    margin-top: calc((32px - 20px) / 2);
    border-radius: calc(20px / 2);
    background: var(--md-color-picker-hex);
    border: 2px solid var(--md-sys-color-background);
}
