.md-color-picker {
    display: inline-flex;
    flex-direction: column;
    border-radius: var(--md-sys-shape-corner-medium);
    background: var(--md-sys-color-surface-container-high);
    box-shadow: var(--md-sys-elevation-level0);
}

.md-color-picker__header {
    display: flex;
    align-items: center;
    padding: 16px;

    + .md-color-picker__body {
        margin-top: -16px;
    }
}

.md-color-picker__actions {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    margin-left: auto;
}

.md-color-picker__action {
    color: var(--md-sys-color-on-surface-variant);
}

.md-color-picker__label {
    --md-button-density: -2;
    color: var(--md-sys-color-on-surface-variant);

    + .md-color-picker__label {
        margin-left: -12px;
    }

    .md-button__icon {
        color: rgba(var(--md-color-picker-red), var(--md-color-picker-green), var(--md-color-picker-blue), var(--md-color-picker-alpha));
        @extend .md-icon--selected;
    }
}

.md-color-picker__body {
    flex: 1;
    overflow: hidden auto;
    display: flex;
    flex-direction: column;
}

.md-color-picker__inner {
    flex: 1;
    overflow: hidden auto;
    @extend .md-typography--body-small;

    + .md-color-picker__footer {
        margin-top: -16px;
    }
}

.md-color-picker__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 16px;
    gap: 8px;
}

.md-color-picker__button {
    --md-button-density: -2;
}

.md-color-picker__area {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    gap: 4px;
}

.md-color-picker__gradient {
    user-select: none;
    width: calc((32px * 7) + (4px * 6) + (16px * 2));
    height: calc((32px * 7) + (4px * 6) - 4px - 32px - 4px - 32px);
    position: relative;
    overflow: hidden;
}

.md-color-picker__gradient-track {
    width: 100%;
    height: 100%;
}

.md-color-picker__gradient-thumb {
    width: calc(32px - (6px * 2));
    height: calc(32px - (6px * 2));
    border-radius: calc((32px - (6px * 2)) / 2);
    margin-top: calc((32px - calc(32px - (6px * 2))) / 2);
    box-shadow: inset 0 0 0 2px white;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate3d(-50%, -50%, 0);
    pointer-events: none;
}
.md-color-picker__hue,
.md-color-picker__opacity {
    appearance: none;
    display: flex;
    align-items: center;
    width: calc((32px * 7) + (4px * 6) + (16px * 2));
    height: 32px;
    background: transparent;

    &::-webkit-slider-container {
        appearance: none;
        background: transparent;
        height: 32px;
    }

    &::-webkit-slider-runnable-track {
        height: 32px;
        background: transparent;
    }

    &::-webkit-slider-thumb {
        appearance: none;
        width: calc(32px - (6px * 2));
        height: calc(32px - (6px * 2));
        border-radius: calc((32px - (6px * 2)) / 2);
        margin-top: calc((32px - calc(32px - (6px * 2))) / 2);
        background: transparent;
        box-shadow: inset 0 0 0 2px white;
    }
}

.md-color-picker__hue {
    &::-webkit-slider-runnable-track {
        background: linear-gradient(to right, hsl(0deg, 100%, 50%), hsl(60deg, 100%, 50%), hsl(120deg, 100%, 50%), hsl(160deg, 100%, 50%), hsl(240deg, 100%, 50%), hsl(300deg, 100%, 50%), hsl(360deg, 100%, 50%));
    }
}

.md-color-picker__opacity {
    &::-webkit-slider-container {
        background-image: repeating-linear-gradient(45deg, var(--md-sys-color-surface) 25%, transparent 25%, transparent 75%, var(--md-sys-color-surface) 75%, var(--md-sys-color-surface)), repeating-linear-gradient(45deg, var(--md-sys-color-surface) 25%, #e5e5f7 25%, #e5e5f7 75%, var(--md-sys-color-surface) 75%, var(--md-sys-color-surface));
        background-position:
            0 0,
            10px 10px;
        background-size: 20px 20px;
    }

    &::-webkit-slider-runnable-track {
        background: linear-gradient(to right, transparent, rgb(var(--md-color-picker-red), var(--md-color-picker-green), var(--md-color-picker-blue)));
    }
}
