.md-select-field {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.md-select-field__a11y {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.md-select-field__label {
    display: flex;
    align-items: center;
    padding: 0 4px;
    margin: 4px 12px;
    color: var(--md-sys-color-on-surface-variant);
    @include md-typography-body-small;
}

.md-select-field__container {
    display: flex;
    border-radius: 4px;
    background: var(--md-sys-color-surface-container-highest);
    color: var(--md-sys-color-on-surface);
}

.md-select-field__native {
    flex: 1;
    appearance: none;
    resize: none;
    overflow: hidden;
    width: 100%;
    padding: 0 16px;
    margin: 16px 0;
    background: transparent;
    color: inherit;
    @include md-typography-body-large;

    + .md-select-field__meta {
        margin-left: -16px;
    }
}

.md-select-field__icon {
    margin: 16px 12px;
    color: var(--md-sys-color-on-surface-variant);

    + .md-select-field__native {
        margin-left: -12px;
    }

    + .md-select-field__actions {
        margin-left: 4px;
    }
}

.md-select-field__meta {
    padding: 0 16px;
    margin: 16px 0;
    @include md-typography-body-large;

    + .md-select-field__native {
        margin-left: -32px;
    }
}

.md-select-field__actions {
    display: inline-flex;
    align-items: center;
    margin: 16px 12px;
    gap: 0 16px;
}

.md-select-field__action {
    color: var(--md-sys-color-on-surface-variant);
}

.md-select-field__text {
    display: flex;
    align-items: center;
    padding: 0 16px;
    margin: 4px 0;
    color: var(--md-sys-color-on-surface-variant);
    @include md-typography-body-small;
}

.md-select-field {
    &[populated] {
    }

    &[focused] {
        .md-select-field__label {
            color: var(--md-sys-color-primary);
        }
    }

    &[invalid] {
        .md-select-field__label {
            color: var(--md-sys-color-error);
        }

        .md-select-field__icon {
            color: var(--md-sys-color-error);
        }

        .md-select-field__text {
            color: var(--md-sys-color-error);
        }
    }
}

.md-select-field--filled {
    .md-select-field__label {
        margin-top: 16px;
        margin-bottom: 16px;
        @include md-typography-body-large;
        position: absolute;
        left: var(--md-select-field-offset-left);
        pointer-events: none;
        transition-property: all;
        transition-duration: var(--md-sys-motion-duration-short4);
        transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-legacy));

        + .md-select-field__container {
            .md-select-field__meta {
                visibility: hidden;
            }

            .md-select-field__native {
                &::placeholder {
                    visibility: hidden;
                }

                &::-webkit-datetime-edit {
                    visibility: hidden;
                }
            }
        }
    }

    .md-select-field__container {
        border-radius: 4px 4px 0 0;
        box-shadow: inset 0 -1px 0 0 var(--md-sys-color-on-surface-variant);
    }

    &[populated],
    &[focused] {
        .md-select-field__label {
            margin-top: calc(((56px - 16px) / 2) - 12px);
            margin-bottom: calc(((56px - 16px) / 2) + 12px);
            @include md-typography-body-small;

            + .md-select-field__container {
                .md-select-field__meta {
                    margin-top: calc(((56px - 24px) / 2) + 8px);
                    margin-bottom: calc(((56px - 24px) / 2) - 8px);
                    visibility: visible;
                }

                .md-select-field__native {
                    margin-top: calc(((56px - 24px) / 2) + 8px);
                    margin-bottom: calc(((56px - 24px) / 2) - 8px);

                    &::placeholder {
                        visibility: visible;
                    }

                    &::-webkit-datetime-edit {
                        visibility: visible;
                    }
                }
            }
        }
    }

    &[focused] {
        .md-select-field__container {
            box-shadow: inset 0 -2px 0 0 var(--md-sys-color-primary);
        }
    }

    &[invalid] {
        .md-select-field__container {
            box-shadow: inset 0 -2px 0 0 var(--md-sys-color-error);
        }
    }
}

.md-select-field--outlined {
    .md-select-field__label {
        margin-top: 16px;
        margin-bottom: 16px;
        @include md-typography-body-large;
        position: absolute;
        left: var(--md-select-field-offset-left);
        pointer-events: none;
        transition-property: all;
        transition-duration: var(--md-sys-motion-duration-short4);
        transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-legacy));

        &::before {
            content: "";
            width: 0%;
            height: 100%;
            background: var(--md-sys-color-background);
            transform: translate3d(-50%, -50%, 0px);
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: -1;
            transition-property: all;
            transition-duration: var(--md-sys-motion-duration-short4);
            transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-legacy));
        }

        + .md-select-field__container {
            .md-select-field__meta {
                visibility: hidden;
            }

            .md-select-field__native {
                &::placeholder {
                    visibility: hidden;
                }

                &::-webkit-datetime-edit {
                    visibility: hidden;
                }
            }
        }
    }

    .md-select-field__container {
        border-radius: 4px;
        background: transparent;
        box-shadow: inset 0 0 0 1px var(--md-sys-color-on-surface-variant);
    }

    &[populated],
    &[focused] {
        .md-select-field__label {
            margin-top: 0;
            margin-bottom: 0;
            transform: translate3d(0%, -50%, 0px);
            @include md-typography-body-small;
            left: 0;

            &::before {
                width: 100%;
            }

            + .md-select-field__container {
                .md-select-field__meta {
                    visibility: visible;
                }

                .md-select-field__native {
                    &::placeholder {
                        visibility: visible;
                    }

                    &::-webkit-datetime-edit {
                        visibility: visible;
                    }
                }
            }
        }
    }

    &[focused] {
        .md-select-field__container {
            box-shadow: inset 0 0 0 2px var(--md-sys-color-primary);
        }
    }

    &[invalid] {
        .md-select-field__container {
            box-shadow: inset 0 0 0 2px var(--md-sys-color-error);
        }
    }
}

.md-select-field--rounded {
    .md-select-field__container {
        border-radius: calc(56px / 2);
    }

    .md-select-field__icon {
        margin-left: 16px;
        margin-right: 16px;

        + .md-select-field__native {
            margin-left: -16px;
        }

        + .md-select-field__actions {
            margin-left: 0;
        }
    }

    .md-select-field__actions {
        margin-left: 16px;
        margin-right: 16px;
    }

    &.md-select-field--filled {
        .md-select-field__container {
            box-shadow: none;
        }
    }
}
