* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;

    &,
    &::before,
    &::after {
        box-sizing: border-box;
    }
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    @include typescale-body-large();
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
}

// ::-webkit-scrollbar {
//     width: 8px;
//     height: 8px;
// }
// ::-webkit-scrollbar-track{}
// ::-webkit-scrollbar-thumb {
//     background-color: var(--md-sys-color-outline);
// }

.md-layout-border {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "north north north"
        "west center east"
        "south south south";
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.md-layout-border__item {
    overflow: auto;
}
.md-layout-border__item--north {
    grid-area: 1 / 1 / 2 / 4;
}
.md-layout-border__item--east {
    grid-area: 2 / 3 / 3 / 4;
}
.md-layout-border__item--south {
    grid-area: 3 / 1 / 4 / 4;
}
.md-layout-border__item--west {
    grid-area: 2 / 1 / 3 / 2;
}
.md-layout-border__item--center {
    grid-area: 2 / 2 / 3 / 3;
}
.md-layout-border__item--full-west {
    grid-area: 1 / 1 / 4 / 2;
}
.md-layout-border__item--full-east {
    grid-area: 1 / 3 / 4 / 4;
}
.md-layout-border__item--full {
    grid-area: 1 / 1 / 4 / 4;
}

.md-layout-column {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 24px;
    margin: 24px;
}

.md-layout-column__item {
    grid-column-end: span 4;
}

@include breakpoint-expanded() {
    .md-layout-column {
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-gap: 24px;
        margin: 24px;
    }

    @for $i from 1 through 12 {
        .md-layout-column__item--expanded#{$i} {
            grid-column-end: span $i;
        }
    }
}

@include breakpoint-medium() {
    .md-layout-column {
        grid-template-columns: repeat(8, minmax(0, 1fr));
        grid-gap: 16px;
        margin: 16px;
    }

    @for $i from 1 through 8 {
        .md-layout-column__item--medium#{$i} {
            grid-column-end: span $i;
        }
    }
}

@include breakpoint-compact() {
    .md-layout-column {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-gap: 8px;
        margin: 8px;
    }

    @for $i from 1 through 4 {
        .md-layout-column__item--medium#{$i} {
            grid-column-end: span $i;
        }
    }
}
