.md-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    min-width: 16px;
    max-width: 34px;
    height: 16px;
    border-radius: calc(16px / 2);
    padding: 0 4px;
    background: var(--md-sys-color-error);
    color: var(--md-sys-color-on-error);
    @include md-typography-label-small;

    &:empty {
        min-width: 6px;
        max-width: 6px;
        width: 6px;
        height: 6px;
        padding: 0;
    }
}
