.md-tabs {
    display: block;
}

.md-tabs__list {
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
    // border-bottom: 1px solid var(--md-sys-color-surface-variant);
    // overflow: auto;

    &::after {
        transition-property: all;
        transition-duration: var(--md-sys-motion-duration-short4);
        transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-legacy));
    }

    .md-list__row {
        flex: 1;
        // flex: 1 0 auto;
    }

    .md-list__item {
        justify-content: center;
        min-height: 48px;
        padding-left: 12px;
        padding-right: 12px;
        column-gap: 8px;

        &[selected] {
            background: inherit;
            color: var(--md-sys-color-primary);
        }
    }

    .md-list__label {
        flex: 0 0 auto;
    }

    .md-list__label-primary {
        @include md-typography-label-large;
    }
}

.md-tabs__list--primary {
    position: relative;

    &::after {
        content: "";
        width: var(--md-tabs-width);
        height: 3px;
        border-radius: 3px 3px 0 0;
        background: var(--md-sys-color-primary);
        position: absolute;
        left: var(--md-tabs-left);
        bottom: 0;
    }

    .md-list__item {
        flex-wrap: wrap;
        row-gap: 4px;
    }

    .md-list__icon {
        width: 100%;
    }

    .md-list__icon {
        + .md-list__label {
            .md-list__label-primary {
                + .md-list__badge {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate3d(0%, -50%, 0px);
                    margin-top: -20px;

                    &:empty {
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}

.md-tabs__list--secondary {
    position: relative;

    &::after {
        content: "";
        width: var(--md-tabs-width);
        height: 2px;
        background: var(--md-sys-color-primary);
        position: absolute;
        left: var(--md-tabs-left);
        bottom: 0;
    }
}

.md-tabs--scrollable {
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }

    .md-list__row {
        flex: 0 0 auto;
    }
}
