.md-pane {
    display: flex;
    flex-direction: column;
    min-height: 0;
    min-width: 0;
    border-radius: var(--md-sys-shape-corner-medium);
    background: var(--md-sys-color-surface-container-highest);
    color: var(--md-sys-color-on-surface-variant);
    box-shadow: var(--md-sys-elevation-level0);
}

.md-pane__header {
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 0 16px;

    + .md-pane__body {
        margin-top: -16px;
    }
}

.md-pane__actions {
    display: inline-flex;
    align-items: center;
    gap: 0 16px;

    &:last-child:not(:first-child) {
        margin-left: auto;
    }
}

// .md-pane__action {}

.md-pane__label {
    display: flex;
    flex-direction: column;
}

.md-pane__label-primary {
    @include typography-body-large();
    height: var(--md-sys-typescale-body-large-line-height);
    overflow: hidden;
}

.md-pane__label-secondary {
    @include typography-body-medium();
    height: var(--md-sys-typescale-body-medium-line-height);
    overflow: hidden;
}

.md-pane__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    min-width: 0;
}

.md-pane__inner {
    flex: 1;
    overflow: auto;
    padding: 0 16px;
    margin: 16px 0;
    @include typography-body-medium();

    + .md-pane__footer {
        margin-top: -16px;
    }
}

.md-pane__footer {
    display: flex;
    align-items: center;
    padding: 16px;
    margin-top: auto;
    gap: 0 8px;
}

.md-pane__scrim {
    width: 100%;
    height: 100%;
    background: var(--md-sys-color-scrim);
    opacity: 32%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 6;

    &:not([open]) {
        visibility: hidden;
        pointer-events: none;
    }
}

// .md-pane__button {}

// .md-pane--elevated {}

// .md-pane--filled {}

// .md-pane--outlined {}

.md-pane--sheet {
    display: inline-flex;
    border-radius: var(--md-sys-shape-corner-none);
    background: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface-variant);
    box-shadow: var(--md-sys-elevation-level0);
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-emphasized));
    animation-duration: var(--md-sys-motion-duration-short4);

    &:not([open]) {
        visibility: hidden;
        pointer-events: none;
    }

    .md-pane__header {
        padding: 24px;
        gap: 0 12px;

        + .md-pane__body {
            margin-top: -24px;
        }
    }

    .md-pane__label-primary {
        @include typography-title-large();
        height: var(--md-sys-typescale-title-large-line-height);
    }

    .md-pane__inner {
        padding: 0 24px;
        margin: 24px 0;

        + .md-pane__footer {
            margin-top: -24px;
        }
    }

    .md-pane__footer {
        padding: 24px;
    }
}

.md-pane--north {
    grid-area: north;
    animation-name: var(--md-comp-pane-animation, sheetNorthIn);

    &:not([open]) {
        margin-top: calc(0px - var(--md-comp-pane-height, 100vw));
        animation-name: var(--md-comp-pane-animation, sheetNorthOut);
    }
}

.md-pane--east {
    grid-area: east;
    animation-name: var(--md-comp-pane-animation, sheetEastIn);

    &:not([open]) {
        margin-right: calc(0px - var(--md-comp-pane-width, 100vw));
        animation-name: var(--md-comp-pane-animation, sheetEastOut);
    }
}

.md-pane--south {
    grid-area: south;
    animation-name: var(--md-comp-pane-animation, sheetSouthIn);

    &:not([open]) {
        margin-bottom: calc(0px - var(--md-comp-pane-height, 100vw));
        animation-name: var(--md-comp-pane-animation, sheetSouthOut);
    }
}

.md-pane--west {
    grid-area: west;
    animation-name: var(--md-comp-pane-animation, sheetWestIn);

    &:not([open]) {
        margin-left: calc(0px - var(--md-comp-pane-width, 100vw));
        animation-name: var(--md-comp-pane-animation, sheetWestOut);
    }
}

.md-pane--modal {
    background: var(--md-sys-color-surface-container-low);
    color: var(--md-sys-color-on-surface-variant);
    box-shadow: var(--md-sys-elevation-level1);
    position: absolute;
    z-index: 7;

    .md-pane__header {
        padding: 24px 24px 24px 16px;
    }

    .md-pane__inner {
        padding: 0 24px 0 16px;
        margin: 24px 0;
    }

    .md-pane__footer {
        padding: 24px 24px 24px 16px;
    }

    &.md-pane--north {
        border-radius: 0 0 var(--md-sys-shape-corner-large) var(--md-sys-shape-corner-large);
        grid-area: auto;
        top: 0;
        left: 0;
        right: 0;
        animation-name: var(--md-comp-pane-animation, sheetNorthModalIn);

        &:not([open]) {
            margin-top: 0;
            animation-name: var(--md-comp-pane-animation, sheetNorthModalOut);
        }
    }

    &.md-pane--east {
        border-radius: var(--md-sys-shape-corner-large) 0 0 var(--md-sys-shape-corner-large);
        grid-area: auto;
        right: 0;
        top: 0;
        bottom: 0;
        animation-name: var(--md-comp-pane-animation, sheetEastModalIn);

        &:not([open]) {
            margin-right: 0;
            animation-name: var(--md-comp-pane-animation, sheetEastModalOut);
        }
    }

    &.md-pane--south {
        border-radius: var(--md-sys-shape-corner-large) var(--md-sys-shape-corner-large) 0 0;
        grid-area: auto;
        bottom: 0;
        left: 0;
        right: 0;
        animation-name: var(--md-comp-pane-animation, sheetSouthModalIn);

        &:not([open]) {
            margin-bottom: 0;
            animation-name: var(--md-comp-pane-animation, sheetSouthModalOut);
        }
    }

    &.md-pane--west {
        border-radius: 0 var(--md-sys-shape-corner-large) var(--md-sys-shape-corner-large) 0;
        grid-area: auto;
        left: 0;
        top: 0;
        bottom: 0;
        animation-name: var(--md-comp-pane-animation, sheetWestModalIn);

        &:not([open]) {
            margin-left: 0;
            animation-name: var(--md-comp-pane-animation, sheetWestModalOut);
        }
    }
}
