.md-chip {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 32px;
    padding: 0 16px;
    gap: 0 8px;
    border-radius: var(--md-sys-shape-corner-small);
    box-shadow: inset 0 0 0 1px var(--md-sys-color-outline);
}
.md-chip__indicator {
    width: 18px;
    height: 18px;
    font-size: 18px;
    margin-left: -8px;
}
.md-chip__avatar {
    width: 24px;
    height: 24px;
    margin-left: -12px;
}
.md-chip__icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
    margin-left: -8px;
}
.md-chip__label {
    @extend .md-typography--label-large;

    + .md-chip__icon {
        margin-left: 0;
        margin-right: -8px;
    }
}

.md-chip {
    &[selected] {
        box-shadow: none;
    }
}
