.md-bottom-sheet {
    display: flex;
    flex-direction: column;
    border-radius: var(--md-sys-shape-corner-medium);
    background: var(--md-sys-color-surface-container-highest);
    color: var(--md-sys-color-on-surface);
    box-shadow: var(--md-sys-elevation-level0);
    transition-property: all;
    transition-duration: var(--md-sys-motion-duration-short4);
    transition-timing-function: var(--md-sys-motion-easing-standard);
}

.md-bottom-sheet__header {
    display: flex;
    align-items: center;
    padding: 24px;
    gap: 0 16px;

    + .md-bottom-sheet__body {
        margin-top: -24px;
    }
}

.md-bottom-sheet__actions {
    display: inline-flex;
    align-items: center;
    gap: 0 16px;
}

.md-bottom-sheet__action {
    color: var(--md-sys-color-on-surface-variant);
}

.md-bottom-sheet__label {
    display: flex;
    flex-direction: column;

    + .md-bottom-sheet__actions {
        margin-left: auto;
    }
}

.md-bottom-sheet__label-primary {
    @extend .md-typography--title-large;
}

.md-bottom-sheet__label-secondary {
    @extend .md-typography--title-small;
}

.md-bottom-sheet__body {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.md-bottom-sheet__inner {
    flex: 1;
    overflow: auto;
    padding: 0 24px;
    margin: 24px 0;
    @extend .md-typography--body-medium;

    + .md-bottom-sheet__footer {
        margin-top: -24px;
    }
}

.md-bottom-sheet__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 24px;
    gap: 0 8px;
}

.md-bottom-sheet__scrim {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 32%;
    transition-property: all;
    transition-duration: var(--md-sys-motion-duration-short4);
    transition-timing-function: var(--md-sys-motion-easing-standard);
    user-select: none;

    &:not(.md-bottom-sheet--open) {
        opacity: 0;
        pointer-events: none;
    }
}

// dialog
.md-bottom-sheet--dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
    transform: translate3d(-50%, -50%, 0) scale(1);
    border-radius: var(--md-sys-shape-corner-extra-large);
    background: var(--md-sys-color-surface-container-high);
    color: var(--md-sys-color-on-surface);
    box-shadow: var(--md-sys-elevation-level3);

    &:not(.md-bottom-sheet--open) {
        transform: translate3d(-50%, -50%, 0) scale(0.84);
        opacity: 0;
        pointer-events: none;
    }
}

// full-screen
.md-bottom-sheet--full-screen {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0) scale(1);
    border-radius: var(--md-sys-shape-corner-none);
    background: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    box-shadow: var(--md-sys-elevation-level0);

    &:not(.md-bottom-sheet--open) {
        transform: translate3d(0, 0, 0) scale(0.92);
    }
}

// sheet
.md-bottom-sheet--sheet {
    border-radius: var(--md-sys-shape-corner-none);
    background: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    box-shadow: var(--md-sys-elevation-level0);

    &:not(.md-bottom-sheet--open) {
        pointer-events: none;
    }
}

.md-bottom-sheet--north {
    grid-area: north;

    &:not(.md-bottom-sheet--open) {
        margin-top: -100vh;
    }
}

.md-bottom-sheet--east {
    grid-area: east;

    &:not(.md-bottom-sheet--open) {
        margin-right: -100vw;
    }
}

.md-bottom-sheet--south {
    grid-area: south;


    &:not(.md-bottom-sheet--open) {
        margin-bottom: -100vh;
    }
}

.md-bottom-sheet--west {
    grid-area: west;

    &:not(.md-bottom-sheet--open) {
        margin-left: -100vw;
    }
}

.md-bottom-sheet--center {
    grid-area: center;
}

// modal
.md-bottom-sheet--south,
.md-bottom-sheet--modal {
    position: absolute;
    z-index: 3;
    grid-area: 1/1/4/4;
    border-radius: var(--md-sys-shape-corner-large-start);
    background: var(--md-sys-color-surface-container-low);
    color: var(--md-sys-color-on-surface);
    box-shadow: var(--md-sys-elevation-level1);

    &:not(.md-bottom-sheet--open) {
        margin: 0;
        box-shadow: var(--md-sys-elevation-level0);
    }

    &.md-bottom-sheet--north {
        top: 0;
        left: 0;
        right: 0;
        border-radius: var(--md-sys-shape-corner-large-bottom);

        &:not(.md-bottom-sheet--open) {
            transform: translate3d(0, -100%, 0);
        }
    }

    &.md-bottom-sheet--east {
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: var(--md-sys-shape-corner-large-start);

        &:not(.md-bottom-sheet--open) {
            transform: translate3d(100%, 0, 0);
        }
    }

    &.md-bottom-sheet--south {
        bottom: 0;
        left: 50%;
        // right: 0;
        border-radius: var(--md-sys-shape-corner-large-top);
        width: 100%;
        transform: translate3d(-50%,0,0);

        @media (min-width: 840px) {
            width: 640px;
        }
    
        &:not(.md-bottom-sheet--open) {
            transform: translate3d(-50%, 100%, 0);
        }
    }

    &.md-bottom-sheet--west {
        left: 0;
        top: 0;
        bottom: 0;
        border-radius: var(--md-sys-shape-corner-large-end);

        &:not(.md-bottom-sheet--open) {
            transform: translate3d(-100%, 0, 0);
        }
    }
}
