.md-bottom-sheet {
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    max-width: 640px;
    margin-left: 56px;
    margin-right: 56px;
    margin-top: 72px;
    transform: translate3d(calc(-50% - 56px), 0%, 0px);
    border-radius: var(--md-sys-shape-corner-extra-large);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: var(
        --md-sys-color-surface-container
    ); // var(--md-sys-color-surface-container-low);
    color: var(--md-sys-color-on-surface);
    box-shadow: var(--md-sys-elevation-level1);
    transition-property: all;
    transition-duration: var(--md-sys-motion-duration-short4);
    transition-timing-function: cubic-bezier(
        var(--md-sys-motion-easing-legacy)
    );
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 0;
    z-index: 4;

    &:not([open]) {
        transform: translate3d(calc(-50% - 56px), calc(100% + 72px), 0px);
        pointer-events: none;
    }
}

.md-bottom-sheet__header {
    display: flex;
    align-items: center;
    padding: 24px;
    gap: 0 16px;

    + .md-bottom-sheet__body {
        .md-bottom-sheet__inner {
            margin-top: 0px;
        }
    }
}

.md-bottom-sheet__actions {
    display: inline-flex;
    align-items: center;
    gap: 0 16px;
}

// .md-bottom-sheet__action {}

.md-bottom-sheet__label {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.md-bottom-sheet__label-primary {
    @include md-typography-title-large;
}

.md-bottom-sheet__label-secondary {
    @include md-typography-title-small;
}

.md-bottom-sheet__body {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.md-bottom-sheet__inner {
    flex: 1;
    overflow: auto;
    padding: 0 24px;
    margin: 24px 0;
    @include md-typography-body-medium;

    + .md-bottom-sheet__footer {
        margin-top: -24px;
    }
}

.md-bottom-sheet__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 24px;
    gap: 0 8px;
}

// .md-bottom-sheet__button {}

// .md-bottom-sheet--modal {}

.md-bottom-sheet__scrim {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    background: var(--md-sys-color-scrim);
    opacity: 32%;
    transition-property: all;
    transition-duration: var(--md-sys-motion-duration-short4);
    transition-timing-function: cubic-bezier(
        var(--md-sys-motion-easing-legacy)
    );

    &:not([open]) {
        margin-right: 0;
        opacity: 0;
        pointer-events: none;
    }
}
