.md-navigation-bar {
    grid-area: south;
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    border-radius: var(--md-sys-shape-corner-none);
    background: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface);
    box-shadow: var(--md-sys-elevation-level2);
    transition-property: all;
    transition-duration: var(--md-sys-motion-duration-short4);
    transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-legacy));

    &:not([open]) {
        margin-bottom: -80px;
        box-shadow: var(--md-sys-elevation-level0);
        pointer-events: none;
    }
}

.md-navigation-bar__header {
    display: flex;
    align-items: center;
    padding: 24px;
    gap: 0 16px;
}

.md-navigation-bar__actions {
    display: inline-flex;
    align-items: center;
    gap: 0 16px;
}

.md-navigation-bar__label {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.md-navigation-bar__label-primary {
    @include md-typography-title-large;
}

.md-navigation-bar__label-secondary {
    @include md-typography-title-small;
}

.md-navigation-bar__body {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.md-navigation-bar__inner {
    flex: 1;
    overflow: auto;
    @include md-typography-body-medium;
}

.md-navigation-bar__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 24px;
    gap: 0 8px;
}
