
.md-dialog {
    display: flex;
    flex-direction: column;
    border-radius: var(--md-sys-shape-corner-medium);
    background: var((--md-sys-color-surface-container-lowest));
    box-shadow: var(--md-sys-elevation-level0);
}

.md-dialog__header {
    display: flex;
    align-items: center;
    padding: 24px;
    gap: 0 16px;

    + .md-dialog__body {
        margin-top: -24px;
    }
}

.md-dialog__actions {
    display: inline-flex;
    align-items: center;
    gap: 0 16px;
}

.md-dialog__action {
    color: var(--md-sys-color-on-surface-variant);
}

.md-dialog__label {
    display: flex;
    flex-direction: column;

    + .md-dialog__actions {
        margin-left: auto;
    }
}

.md-dialog__label-primary {
    @extend .md-typography--title-large;
}

.md-dialog__label-secondary {
    @extend .md-typography--body-medium;
}

.md-dialog__body {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.md-dialog__inner {
    flex: 1;
    overflow: auto;
    padding: 0 24px;
    margin: 24px 0;
    @extend .md-typography--body-medium;

    + .md-dialog__footer {
        margin-top: -24px;
    }
}

.md-dialog__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 24px;
    gap: 0 8px;
}

.md-dialog {
    display: inline-flex;
    min-width: 280px;
    max-width: 560px;
    border-radius: var(--md-sys-shape-corner-extra-large);
    background: var((--md-sys-color-surface-container-high));
    box-shadow: var(--md-sys-elevation-level3);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    transform: translate3d(-50%, -50%, 0) scale(1);
    transition-property: all;
    transition-duration: var(--md-sys-motion-duration-short4);
    transition-timing-function: var(--md-sys-motion-easing-standard);

    &:not(.md-dialog--open) {
        opacity: 0;
        pointer-events: none;
        transform: translate3d(-50%, -50%, 0) scale(0.88);
    }
}

.md-dialog--full-screen {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: var(--md-sys-shape-corner-none);
    background: var((--md-sys-color-surface));
    box-shadow: var(--md-sys-elevation-level0);
}

.md-dialog__scrim {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: var(--md-sys-color-scrim);
    opacity: 32%;
    transition-property: all;
    transition-duration: var(--md-sys-motion-duration-short4);
    transition-timing-function: var(--md-sys-motion-easing-standard);

    &:not(.md-dialog--open) {
        opacity: 0;
        pointer-events: none;
    }
}