.md-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    position: relative;
    height: 40px;
    border-radius: calc(40px / 2);
    padding: 0 12px;
    gap: 0 8px;
    background: transparent;
    color: var(--md-sys-color-primary);
    box-shadow: var(--md-sys-elevation-level0);
}

.md-button__native {
    appearance: none;
    background: transparent;
    color: transparent;
    width: 100%;
    height: 100%;
    transform: translate3d(-50%, -50%, 0);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
}

.md-button__icon {
    font-size: 18px;

    + .md-button__label {
        margin-right: 4px;
    }
}

.md-button__label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include md-typography-label-large;
}

.md-button--elevated {
    padding-left: 24px;
    padding-right: 24px;
    background:  var(--md-sys-color-surface-container-low);
    color: var(--md-sys-color-primary);
    box-shadow: var(--md-sys-elevation-level1);

    .md-button__icon {
        margin-left: -4px;

        + .md-button__label {
            margin-right: 0;
        }
    }
}

.md-button--filled {
    padding-left: 24px;
    padding-right: 24px;
    background: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    box-shadow: var(--md-sys-elevation-level0);

    .md-button__icon {
        margin-left: -4px;

        + .md-button__label {
            margin-right: 0;
        }
    }

    &.md-ripple {
        &::after {
            background: var(--md-sys-color-on-primary);
        }
    }
}

.md-button--tonal {
    padding-left: 24px;
    padding-right: 24px;
    background: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
    box-shadow: var(--md-sys-elevation-level0);

    .md-button__icon {
        margin-left: -4px;

        + .md-button__label {
            margin-right: 0;
        }
    }
}

.md-button--outlined {
    padding-left: 24px;
    padding-right: 24px;
    background: transparent;
    color: var(--md-sys-color-primary);
    box-shadow: var(--md-sys-elevation-level0);
    border: 1px solid var(--md-sys-color-outline);

    .md-button__icon {
        margin-left: -4px;

        + .md-button__label {
            margin-right: 0;
        }
    }
}
