.md-navigation-drawer {
    --md-comp-sheet-width: 360px;

    grid-area: west;
    display: inline-flex;
    min-width: var(--md-comp-sheet-width);
    margin-left: calc(0px - var(--md-comp-sheet-width));
    border-radius: var(--md-sys-shape-corner-large);
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface-variant);
    box-shadow: var(--md-sys-elevation-level0);
    animation-name: var(--md-comp-sheet-animation, sheetWestOut);
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-emphasized));
    animation-duration: var(--md-sys-motion-duration-short4);

    &[open] {
        margin-left: 0;
        animation-name: var(--md-comp-sheet-animation, sheetWestIn);
    }

    .md-card__inner {
        padding: 0;
        margin: 0;
    }
}

.md-navigation-drawer--modal {
    grid-area: auto;
    border-radius: 0 var(--md-sys-shape-corner-large) var(--md-sys-shape-corner-large) 0;
    margin-left: 0;
    transform: translate3d(-100%, 0%, 0);
    background-color: var(--md-sys-color-surface-container-low);
    color: var(--md-sys-color-on-surface-variant);
    box-shadow: var(--md-sys-elevation-level0);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 7;
    animation-name: var(--md-comp-sheet-animation, sheetWestModalOut);

    &[open] {
        transform: translate3d(0, 0, 0);
        box-shadow: var(--md-sys-elevation-level1);
        animation-name: var(--md-comp-sheet-animation, sheetWestModalIn);
    }
}
