@keyframes dialogIn {
    0% {
        visibility: visible;
        height: calc(var(--md-comp-sheet-height) - (56px * 2));
        transform: translate3d(-50%, calc(-50% - (56px * 2)), 0);
        opacity: 0;
    }
    100% {
        height: var(--md-comp-sheet-height);
        transform: translate3d(-50%, -50%, 0);
        opacity: 1;
    }
}
@keyframes dialogOut {
    0% {
        visibility: visible;
        transform: translate3d(-50%, -50%, 0);
        opacity: 1;
    }
    100% {
        visibility: hidden;
        transform: translate3d(-50%, calc(-50% - (56px * 2)), 0);
        opacity: 0;
    }
}

@keyframes dialogInnerOut {
    0% {
        overflow: hidden;
    }
    100% {
        overflow: hidden;
    }
}
@keyframes dialogInnerIn {
    0% {
        overflow: hidden;
    }
    100% {
        overflow: hidden;
    }
}

@keyframes dialogFullIn {
    0% {
        visibility: visible;
        transform: translate3d(-50%, -100%, 0);
    }
    100% {
        transform: translate3d(-50%, -50%, 0);
    }
}
@keyframes dialogFullOut {
    0% {
        visibility: visible;
        transform: translate3d(-50%, -50%, 0);
    }
    100% {
        visibility: hidden;
        transform: translate3d(-50%, 50%, 0);
    }
}

.md-dialog {
    display: inline-flex;
    min-width: 280px;
    max-width: 560px;
    transform: translate3d(-50%, -50%, 0);
    border-radius: var(--md-sys-shape-corner-extra-large);
    background-color: var(--md-sys-color-surface-container-high);
    color: var(--md-sys-color-on-surface-variant);
    box-shadow: var(--md-sys-elevation-level3);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 7;
    visibility: hidden;
    animation-name: var(--md-comp-sheet-animation, dialogOut);
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-emphasized));
    animation-duration: var(--md-sys-motion-duration-short4);

    .md-card__inner {
        overflow: hidden;
        animation-name: var(--md-comp-sheet-animation, dialogInnerOut);
        animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-emphasized));
        animation-duration: var(--md-sys-motion-duration-short4);
    }

    &[open] {
        visibility: visible;
        animation-name: var(--md-comp-sheet-animation, dialogIn);

        .md-card__inner {
            overflow: auto;
            animation-name: var(--md-comp-sheet-animation, dialogInnerIn);
        }
    }

    .md-card__header {
        flex-direction: column;
        align-items: flex-start;
        padding: 24px;
        gap: 24px 16px;

        + .md-card__body {
            margin-top: -32px;
        }
    }

    .md-card__actions {
        gap: 0 12px;
        align-self: center;

        + .md-card__label {
            align-self: center;
        }
    }

    .md-card__label-primary {
        @include typescale-headline-small();
        height: var(--md-sys-typescale-headline-small-line-height);
    }

    .md-card__inner {
        padding: 0 24px;
        margin: 24px 0;

        + .md-card__footer {
            margin-top: -24px;
        }
    }

    .md-card__footer {
        padding: 24px;
        gap: 0 8px;
    }
}

.md-dialog--full {
    width: 100%;
    height: 100%;
    max-width: 100%;
    border-radius: var(--md-sys-shape-corner-none);
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface-variant);
    box-shadow: var(--md-sys-elevation-level0);
    animation-name: var(--md-comp-sheet-animation, dialogFullOut);

    &[open] {
        animation-name: var(--md-comp-sheet-animation, dialogFullIn);
    }

    .md-card__header {
        flex-direction: row;
        padding: 8px 24px;

        + .md-card__body {
            margin-top: -16px;
        }
    }

    .md-card__label-primary {
        @include typescale-title-large();
        height: var(--md-sys-typescale-title-large-line-height);
    }
}
