.md-chip {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 32px;
    padding: 0 12px;
    gap: 0 8px;
    border-radius: var(--md-sys-shape-corner-small);
    background: transparent;
    color: var(--md-sys-color-primary);
    box-shadow: var(--md-sys-elevation-level0);
    border: 1px solid var(--md-sys-color-outline);

    &[selected] {
        background: var(--md-sys-color-secondary-container);
        color: var(--md-sys-color-on-secondary-container);
        box-shadow: var(--md-sys-elevation-level0);
        border: 1px solid var(--md-sys-color-secondary-container);
    }
}

.md-chip__avatar {
    width: 24px;
    height: 24px;
    margin-left: -8px;
}

.md-chip__icon {
    font-size: 18px;
    margin-left: -4px;
}

.md-chip__label {
    @include md-typography-label-large;
}

.md-chip__action {
    font-size: 18px;
    margin-right: -4px;
}

.md-chips {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px 8px;
}

.md-chips--scrollable {
    flex-wrap: nowrap;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    .md-chip {
        flex: 0 0 auto;
    }
}
