
.md-radio-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    position: relative;
}

.md-radio-button__native {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    appearance: none;

    &:checked {

        + .md-radio-button__track {
            border-color: var(--md-sys-color-primary);

            .md-radio-button__thumb {
                height: 10px;
                width: 10px;
                border-radius: calc(10px / 2);
                background: var(--md-sys-color-primary);
            }
        }
    }
}

.md-radio-button__track {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 2px solid var(--md-sys-color-outline);
    border-radius: calc(20px / 2);
}