.md-virtual {
    position: relative;
    overflow: auto;
    width: 100%;
    height: 100%;
}
.md-virtual__scrollbar {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}
.md-virtual__container {
    transform: translate3d(0, 0, 0);
}
