.md-layout-border {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "north north north"
        "west center east"
        "south south south";
    overflow: hidden;
}
.md-layout-border__item {
    overflow: auto;
}
.md-layout-border__item--north {
    grid-area: north;
}
.md-layout-border__item--east {
    grid-area: east;
}
.md-layout-border__item--south {
    grid-area: south;
}
.md-layout-border__item--west {
    grid-area: west;
}
.md-layout-border__item--center {
    grid-area: center;
}

.md-layout-absolute {
    position: relative;
}
.md-layout-absolute__item {
    position: absolute;
}

.md-layout-accordion {
    display: flex;
    flex-direction: column;
}
.md-layout-accordion__item {
    flex: 0;
}
.md-layout-accordion__item--expanded {
    flex: 1;
}

.md-layout-card {
    --md-layout-card-index: 0;
    display: flex;
    overflow: hidden;
}
.md-layout-card__item {
    flex: 1 0 100%;
    transform: translate3d(calc((0 - var(--md-layout-card-index)) * 100%), 0px, 0px);
}

.md-layout-column {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 24px;

    @media (min-width: 840px) {
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-gap: 24px;

        @for $i from 1 through 12 {
            .md-layout-column__item--expanded#{$i} {
                grid-column-end: span $i;
            }
        }
    }

    @media (min-width: 600px) and (max-width: 839px) {
        grid-template-columns: repeat(8, minmax(0, 1fr));
        grid-gap: 16px;

        @for $i from 1 through 8 {
            .md-layout-column__item--medium#{$i} {
                grid-column-end: span $i;
            }
        }
    }

    @media (max-width: 599px) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-gap: 8px;

        @for $i from 1 through 4 {
            .md-layout-column__item--compact#{$i} {
                grid-column-end: span $i;
            }
        }
    }
}

.md-layout-fit {
    width: 100%;
    height: 100%;
}
