.md-date-picker {
    display: inline-flex;
    flex-direction: column;
    border-radius: var(--md-sys-shape-corner-medium);
    background: var(--md-sys-color-surface-container-high);
    // box-shadow: var(--md-sys-elevation-level0);
}

.md-date-picker__header {
    display: flex;
    align-items: center;
    padding: 16px;

    + .md-date-picker__body {
        margin-top: -16px;
    }
}

.md-date-picker__actions {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    margin-left: auto;
}

.md-date-picker__action {
    color: var(--md-sys-color-on-surface-variant);
}

.md-date-picker__label {
    --md-button-density: -2;
    color: var(--md-sys-color-on-surface-variant);

    + .md-date-picker__label {
        margin-left: -12px;
    }
}

.md-date-picker__body {
    flex: 1;
    overflow: hidden auto;
    display: flex;
    flex-direction: column;
}

.md-date-picker__inner {
    flex: 1;
    overflow: hidden auto;

    + .md-date-picker__footer {
        margin-top: -16px;
    }
}

.md-date-picker__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 16px;
    gap: 8px;
}

.md-date-picker__button {
    --md-button-density: -2;
}

.md-date-picker__card {
    display: flex;
    width: calc((32px * 7) + (4px * 6) + (16px * 2));
    height: calc((32px * 7) + (4px * 6) + (16px * 2));
}

.md-date-picker__card-item {
    flex: 1 0 auto;
    overflow: hidden auto;
    display: flex;
    flex-direction: column;
    width: calc((32px * 7) + (4px * 6) + (16px * 2));
    height: calc((32px * 7) + (4px * 6) + (16px * 2));
    transform: translate3d(calc((0 - var(--md-date-picker-index)) * 100%), 0, 0);
}

.md-date-picker__card-inner {
    flex: 1;
    overflow: hidden auto;
    margin: 16px 0;
    @extend .md-typography--body-small;

    + .md-date-picker__card-footer {
        margin-top: -16px;
    }
}

.md-date-picker__card-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 16px;
    gap: 8px;
}

.md-date-picker__list {
    display: flex;
    flex-direction: column;
}

.md-date-picker__list-item {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 16px;
    gap: 0 16px;
    @extend .md-typography--body-medium;
    @extend .md-ripple;
    @extend .md-ripple--containment;
    @extend .md-ripple--button;

    &:hover {
        @extend .md-ripple--hover;
    }
}

.md-date-picker__table {
    display: flex;
    flex-direction: column;
    gap: 4px 0;
    margin: 0 16px;
}

.md-date-picker__table-row {
    display: flex;
    align-items: center;
    gap: 0 4px;
}

.md-date-picker__table-row--body {
    .md-date-picker__table-item {
        @extend .md-ripple;
        @extend .md-ripple--containment;
        @extend .md-ripple--button;

        &:hover {
            @extend .md-ripple--hover;
        }
    }
}

.md-date-picker__table-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: calc(32px / 2);
    user-select: none;
}

.md-date-picker__list-item--activated {
    border: 1px solid var(--md-sys-color-primary);
}

.md-date-picker__list-item--disabled {
    opacity: 38%;
}

.md-date-picker__list-item--error {
    color: var(--md-sys-color-error);
}

.md-date-picker__list-item--selected {
    background: var(--md-sys-color-surface-variant);
    color: var(--md-sys-color-on-surface-variant);
}

.md-date-picker__table-item--activated {
    border: 1px solid var(--md-sys-color-primary);
}

.md-date-picker__table-item--disabled {
    opacity: 38%;
}

.md-date-picker__table-item--error {
    color: var(--md-sys-color-error);
}

.md-date-picker__table-item--selected {
    background: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
}
