@mixin breakpoint-compact() {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin breakpoint-medium() {
    @media (min-width: 600px) and (max-width: 839px) {
        @content;
    }
}

@mixin breakpoint-expanded() {
    @media (min-width: 840px) {
        @content;
    }
}

@mixin scheme-light() {
    @media (prefers-color-scheme: light) {
        @content;
    }
}
@mixin scheme-dark() {
    @media (prefers-color-scheme: dark) {
        @content;
    }
}

@mixin typography-display-large() {
    font-size: var(--md-sys-typescale-display-large-size);
    line-height: var(--md-sys-typescale-display-large-line-height);
    letter-spacing: var(--md-sys-typescale-display-large-tracking);
    font-weight: var(--md-sys-typescale-display-large-weight);
    font-family: var(--md-sys-typescale-display-large-font);
}
@mixin typography-display-medium() {
    font-size: var(--md-sys-typescale-display-medium-size);
    line-height: var(--md-sys-typescale-display-medium-line-height);
    letter-spacing: var(--md-sys-typescale-display-medium-tracking);
    font-weight: var(--md-sys-typescale-display-medium-weight);
    font-family: var(--md-sys-typescale-display-medium-font);
}
@mixin typography-display-small() {
    font-size: var(--md-sys-typescale-display-small-size);
    line-height: var(--md-sys-typescale-display-small-line-height);
    letter-spacing: var(--md-sys-typescale-display-small-tracking);
    font-weight: var(--md-sys-typescale-display-small-weight);
    font-family: var(--md-sys-typescale-display-small-font);
}
@mixin typography-headline-large() {
    font-size: var(--md-sys-typescale-headline-large-size);
    line-height: var(--md-sys-typescale-headline-large-line-height);
    letter-spacing: var(--md-sys-typescale-headline-large-tracking);
    font-weight: var(--md-sys-typescale-headline-large-weight);
    font-family: var(--md-sys-typescale-headline-large-font);
}
@mixin typography-headline-medium() {
    font-size: var(--md-sys-typescale-headline-medium-size);
    line-height: var(--md-sys-typescale-headline-medium-line-height);
    letter-spacing: var(--md-sys-typescale-headline-medium-tracking);
    font-weight: var(--md-sys-typescale-headline-medium-weight);
    font-family: var(--md-sys-typescale-headline-medium-font);
}
@mixin typography-headline-small() {
    font-size: var(--md-sys-typescale-headline-small-size);
    line-height: var(--md-sys-typescale-headline-small-line-height);
    letter-spacing: var(--md-sys-typescale-headline-small-tracking);
    font-weight: var(--md-sys-typescale-headline-small-weight);
    font-family: var(--md-sys-typescale-headline-small-font);
}
@mixin typography-title-large() {
    font-size: var(--md-sys-typescale-title-large-size);
    line-height: var(--md-sys-typescale-title-large-line-height);
    letter-spacing: var(--md-sys-typescale-title-large-tracking);
    font-weight: var(--md-sys-typescale-title-large-weight);
    font-family: var(--md-sys-typescale-title-large-font);
}
@mixin typography-title-medium() {
    font-size: var(--md-sys-typescale-title-medium-size);
    line-height: var(--md-sys-typescale-title-medium-line-height);
    letter-spacing: var(--md-sys-typescale-title-medium-tracking);
    font-weight: var(--md-sys-typescale-title-medium-weight);
    font-family: var(--md-sys-typescale-title-medium-font);
}
@mixin typography-title-small() {
    font-size: var(--md-sys-typescale-title-small-size);
    line-height: var(--md-sys-typescale-title-small-line-height);
    letter-spacing: var(--md-sys-typescale-title-small-tracking);
    font-weight: var(--md-sys-typescale-title-small-weight);
    font-family: var(--md-sys-typescale-title-small-font);
}
@mixin typography-body-large() {
    font-size: var(--md-sys-typescale-body-large-size);
    line-height: var(--md-sys-typescale-body-large-line-height);
    letter-spacing: var(--md-sys-typescale-body-large-tracking);
    font-weight: var(--md-sys-typescale-body-large-weight);
    font-family: var(--md-sys-typescale-body-large-font);
}
@mixin typography-body-medium() {
    font-size: var(--md-sys-typescale-body-medium-size);
    line-height: var(--md-sys-typescale-body-medium-line-height);
    letter-spacing: var(--md-sys-typescale-body-medium-tracking);
    font-weight: var(--md-sys-typescale-body-medium-weight);
    font-family: var(--md-sys-typescale-body-medium-font);
}
@mixin typography-body-small() {
    font-size: var(--md-sys-typescale-body-small-size);
    line-height: var(--md-sys-typescale-body-small-line-height);
    letter-spacing: var(--md-sys-typescale-body-small-tracking);
    font-weight: var(--md-sys-typescale-body-small-weight);
    font-family: var(--md-sys-typescale-body-small-font);
}
@mixin typography-label-large() {
    font-size: var(--md-sys-typescale-label-large-size);
    line-height: var(--md-sys-typescale-label-large-line-height);
    letter-spacing: var(--md-sys-typescale-label-large-tracking);
    font-weight: var(--md-sys-typescale-label-large-weight);
    font-family: var(--md-sys-typescale-label-large-font);
}
@mixin typography-label-medium() {
    font-size: var(--md-sys-typescale-label-medium-size);
    line-height: var(--md-sys-typescale-label-medium-line-height);
    letter-spacing: var(--md-sys-typescale-label-medium-tracking);
    font-weight: var(--md-sys-typescale-label-medium-weight);
    font-family: var(--md-sys-typescale-label-medium-font);
}
@mixin typography-label-small() {
    font-size: var(--md-sys-typescale-label-small-size);
    line-height: var(--md-sys-typescale-label-small-line-height);
    letter-spacing: var(--md-sys-typescale-label-small-tracking);
    font-weight: var(--md-sys-typescale-label-small-weight);
    font-family: var(--md-sys-typescale-label-small-font);
}
