.md-layout-border {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "north north north"
        "west center east"
        "south south south";
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.md-layout-border__item {
    overflow: auto;
}
.md-layout-border__item--north {
    grid-area: north;
}
.md-layout-border__item--east {
    grid-area: east;
}
.md-layout-border__item--south {
    grid-area: south;
}
.md-layout-border__item--west {
    grid-area: west;
}
.md-layout-border__item--center {
    grid-area: center;
}

.md-layout-grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 24px;
    margin: 24px;
}

.md-layout-grid__item {
    grid-column-end: span 4;
}

@include breakpoint-compact() {
    .md-layout-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-gap: 8px;
        margin: 8px;
    }

    @for $i from 1 through 4 {
        .md-layout-grid__item--compact#{$i} {
            grid-column-end: span $i;
        }
    }
}
@include breakpoint-medium() {
    .md-layout-grid {
        grid-template-columns: repeat(8, minmax(0, 1fr));
        grid-gap: 16px;
        margin: 16px;
    }

    @for $i from 1 through 8 {
        .md-layout-grid__item--medium#{$i} {
            grid-column-end: span $i;
        }
    }
}
@include breakpoint-expanded() {
    .md-layout-grid {
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-gap: 24px;
        margin: 24px;
    }

    @for $i from 1 through 12 {
        .md-layout-grid__item--expanded#{$i} {
            grid-column-end: span $i;
        }
    }
}

.md-layout-card {
    display: flex;
    overflow: hidden;
}
.md-layout-card__item {
    flex: 1 0 100%;
    transform: translate3d(calc((0 - var(--md-comp-layout-card-index)) * 100%), 0, 0);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;

    &,
    &::before,
    &::after {
        box-sizing: border-box;
    }

    &:focus {
        outline: none;
    }
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
    @include typography-body-large();
}
