@mixin scheme-light() {
    @media (prefers-color-scheme: light) {
        @content;
    }
}

@mixin scheme-dark() {
    @media (prefers-color-scheme: dark) {
        @content;
    }
}

@mixin breakpoint-compact() {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin breakpoint-medium() {
    @media (min-width: 600px) and (max-width: 839px) {
        @content;
    }
}

@mixin breakpoint-expanded() {
    @media (min-width: 840px) {
        @content;
    }
}

@mixin typescale-display-large($ratio: 1) {
    font-size: calc(var(--md-sys-typescale-display-large-size) * $ratio);
    line-height: calc(var(--md-sys-typescale-display-large-line-height) * $ratio);
    letter-spacing: calc(var(--md-sys-typescale-display-large-tracking) * $ratio);
    font-weight: var(--md-sys-typescale-display-large-weight);
    font-family: var(--md-sys-typescale-display-large-font);
}

@mixin typescale-display-medium($ratio: 1) {
    font-size: calc(var(--md-sys-typescale-display-medium-size) * $ratio);
    line-height: calc(var(--md-sys-typescale-display-medium-line-height) * $ratio);
    letter-spacing: calc(var(--md-sys-typescale-display-medium-tracking) * $ratio);
    font-weight: var(--md-sys-typescale-display-medium-weight);
    font-family: var(--md-sys-typescale-display-medium-font);
}

@mixin typescale-display-small($ratio: 1) {
    font-size: calc(var(--md-sys-typescale-display-small-size) * $ratio);
    line-height: calc(var(--md-sys-typescale-display-small-line-height) * $ratio);
    letter-spacing: calc(var(--md-sys-typescale-display-small-tracking) * $ratio);
    font-weight: var(--md-sys-typescale-display-small-weight);
    font-family: var(--md-sys-typescale-display-small-font);
}

@mixin typescale-headline-large($ratio: 1) {
    font-size: calc(var(--md-sys-typescale-headline-large-size) * $ratio);
    line-height: calc(var(--md-sys-typescale-headline-large-line-height) * $ratio);
    letter-spacing: calc(var(--md-sys-typescale-headline-large-tracking) * $ratio);
    font-weight: var(--md-sys-typescale-headline-large-weight);
    font-family: var(--md-sys-typescale-headline-large-font);
}

@mixin typescale-headline-medium($ratio: 1) {
    font-size: calc(var(--md-sys-typescale-headline-medium-size) * $ratio);
    line-height: calc(var(--md-sys-typescale-headline-medium-line-height) * $ratio);
    letter-spacing: calc(var(--md-sys-typescale-headline-medium-tracking) * $ratio);
    font-weight: var(--md-sys-typescale-headline-medium-weight);
    font-family: var(--md-sys-typescale-headline-medium-font);
}

@mixin typescale-headline-small($ratio: 1) {
    font-size: calc(var(--md-sys-typescale-headline-small-size) * $ratio);
    line-height: calc(var(--md-sys-typescale-headline-small-line-height) * $ratio);
    letter-spacing: calc(var(--md-sys-typescale-headline-small-tracking) * $ratio);
    font-weight: var(--md-sys-typescale-headline-small-weight);
    font-family: var(--md-sys-typescale-headline-small-font);
}

@mixin typescale-title-large($ratio: 1) {
    font-size: calc(var(--md-sys-typescale-title-large-size) * $ratio);
    line-height: calc(var(--md-sys-typescale-title-large-line-height) * $ratio);
    letter-spacing: calc(var(--md-sys-typescale-title-large-tracking) * $ratio);
    font-weight: var(--md-sys-typescale-title-large-weight);
    font-family: var(--md-sys-typescale-title-large-font);
}

@mixin typescale-title-medium($ratio: 1) {
    font-size: calc(var(--md-sys-typescale-title-medium-size) * $ratio);
    line-height: calc(var(--md-sys-typescale-title-medium-line-height) * $ratio);
    letter-spacing: calc(var(--md-sys-typescale-title-medium-tracking) * $ratio);
    font-weight: var(--md-sys-typescale-title-medium-weight);
    font-family: var(--md-sys-typescale-title-medium-font);
}

@mixin typescale-title-small($ratio: 1) {
    font-size: calc(var(--md-sys-typescale-title-small-size) * $ratio);
    line-height: calc(var(--md-sys-typescale-title-small-line-height) * $ratio);
    letter-spacing: calc(var(--md-sys-typescale-title-small-tracking) * $ratio);
    font-weight: var(--md-sys-typescale-title-small-weight);
    font-family: var(--md-sys-typescale-title-small-font);
}

@mixin typescale-body-large($ratio: 1) {
    font-size: calc(var(--md-sys-typescale-body-large-size) * $ratio);
    line-height: calc(var(--md-sys-typescale-body-large-line-height) * $ratio);
    letter-spacing: calc(var(--md-sys-typescale-body-large-tracking) * $ratio);
    font-weight: var(--md-sys-typescale-body-large-weight);
    font-family: var(--md-sys-typescale-body-large-font);
}

@mixin typescale-body-medium($ratio: 1) {
    font-size: calc(var(--md-sys-typescale-body-medium-size) * $ratio);
    line-height: calc(var(--md-sys-typescale-body-medium-line-height) * $ratio);
    letter-spacing: calc(var(--md-sys-typescale-body-medium-tracking) * $ratio);
    font-weight: var(--md-sys-typescale-body-medium-weight);
    font-family: var(--md-sys-typescale-body-medium-font);
}

@mixin typescale-body-small($ratio: 1) {
    font-size: calc(var(--md-sys-typescale-body-small-size) * $ratio);
    line-height: calc(var(--md-sys-typescale-body-small-line-height) * $ratio);
    letter-spacing: calc(var(--md-sys-typescale-body-small-tracking) * $ratio);
    font-weight: var(--md-sys-typescale-body-small-weight);
    font-family: var(--md-sys-typescale-body-small-font);
}

@mixin typescale-label-large($ratio: 1) {
    font-size: calc(var(--md-sys-typescale-label-large-size) * $ratio);
    line-height: calc(var(--md-sys-typescale-label-large-line-height) * $ratio);
    letter-spacing: calc(var(--md-sys-typescale-label-large-tracking) * $ratio);
    font-weight: var(--md-sys-typescale-label-large-weight);
    font-family: var(--md-sys-typescale-label-large-font);
}

@mixin typescale-label-medium($ratio: 1) {
    font-size: calc(var(--md-sys-typescale-label-medium-size) * $ratio);
    line-height: calc(var(--md-sys-typescale-label-medium-line-height) * $ratio);
    letter-spacing: calc(var(--md-sys-typescale-label-medium-tracking) * $ratio);
    font-weight: var(--md-sys-typescale-label-medium-weight);
    font-family: var(--md-sys-typescale-label-medium-font);
}

@mixin typescale-label-small($ratio: 1) {
    font-size: calc(var(--md-sys-typescale-label-small-size) * $ratio);
    line-height: calc(var(--md-sys-typescale-label-small-line-height) * $ratio);
    letter-spacing: calc(var(--md-sys-typescale-label-small-tracking) * $ratio);
    font-weight: var(--md-sys-typescale-label-small-weight);
    font-family: var(--md-sys-typescale-label-small-font);
}

@mixin layout-border-item-north() {
    grid-area: 1 / 1 / 2 / 4;
}
@mixin layout-border-item-east() {
    grid-area: 2 / 3 / 3 / 4;
}
@mixin layout-border-item-south() {
    grid-area: 3 / 1 / 4 / 4;
}
@mixin layout-border-item-west() {
    grid-area: 2 / 1 / 3 / 2;
}
@mixin layout-border-item-center() {
    grid-area: 2 / 2 / 3 / 3;
}
@mixin layout-border-item-full-west() {
    grid-area: 1 / 1 / 4 / 2;
}
@mixin layout-border-item-full-east() {
    grid-area: 1 / 3 / 4 / 4;
}
@mixin layout-border-item-full() {
    grid-area: 1 / 1 / 4 / 4;
}
