.md-segmented-button {
    --md-comp-segmented-button-density: 0;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.md-segmented-button__item {
    --md-comp-button-density: var(--md-comp-segmented-button-density);

    flex: 1;

    + .md-segmented-button__item {
        margin-left: -1px;
    }

    &:first-child:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
        border-radius: 0;
    }

    &:last-child:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
