.md-top-app-bar {
    --md-comp-sheet-height: 64px;

    grid-area: north;
    display: inline-flex;
    min-height: var(--md-comp-sheet-height);
    margin-top: calc(0px - var(--md-comp-sheet-height));
    border-radius: var(--md-sys-shape-corner-none);
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface-variant);
    box-shadow: var(--md-sys-elevation-level0);
    animation-name: var(--md-comp-sheet-animation, sheetNorthOut);
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-emphasized));
    animation-duration: var(--md-sys-motion-duration-short4);

    &[open] {
        margin-top: 0;
        animation-name: var(--md-comp-sheet-animation, sheetNorthIn);
    }

    .md-card__header {
        height: var(--md-comp-sheet-height);
        padding: 18px 16px;
        gap: 0 16px;
    }

    .md-card__actions {
        gap: 0 24px;
    }

    .md-card__label-primary {
        @include typescale-title-large();
        height: var(--md-sys-typescale-title-large-line-height);
    }
}

.md-top-app-bar--center {
    .md-card__header {
        gap: 0 24px;
    }

    .md-card__label {
        flex: 1;
        align-items: center;
    }

    .md-card__label-primary {
        @include typescale-title-large();
        height: var(--md-sys-typescale-title-large-line-height);
    }
}

.md-top-app-bar--medium {
    --md-comp-sheet-height: 112px;

    .md-card__header {
        flex-wrap: wrap;
        align-content: space-between;
        padding: 20px 16px 24px 16px;
        gap: 0 24px;
    }

    .md-card__label {
        order: 1;
        flex: 1 0 100%;
    }

    .md-card__label-primary {
        @include typescale-headline-small();
        height: var(--md-sys-typescale-headline-small-line-height);
    }
}

.md-top-app-bar--large {
    --md-comp-sheet-height: 152px;

    .md-card__header {
        flex-wrap: wrap;
        align-content: space-between;
        padding: 20px 16px 28px 16px;
        gap: 0 24px;
    }

    .md-card__label {
        order: 1;
        flex: 1 0 100%;
    }

    .md-card__label-primary {
        @include typescale-headline-medium();
        height: var(--md-sys-typescale-headline-medium-line-height);
    }
}

.md-top-app-bar--scroll {
    border-radius: var(--md-sys-shape-corner-none);
    background-color: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface-variant);
    box-shadow: var(--md-sys-elevation-level2);
}
