@import "./mixin/mixin.scss";
@import "./layout/layout.scss";
@import "./color/color.scss";
@import "./typography/typography.scss";
@import "./localization/localization.scss";
@import "./router/router.scss";
@import "./ripple/ripple.scss";
@import "./popper/popper.scss";
@import "./gesture/gesture.scss";
@import "./store/store.scss";
@import "./virtual-scroll/virtual-scroll.scss";
@import "./element/element.scss";

@import "./image/image.scss";
@import "./icon/icon.scss";
@import "./icon-button/icon-button.scss";
@import "./form/form.scss";
@import "./checkbox/checkbox.scss";
@import "./radio-button/radio-button.scss";
@import "./switch/switch.scss";
@import "./badge/badge.scss";
@import "./list/list.scss";
@import "./nested-list/nested-list.scss";
@import "./fab/fab.scss";
@import "./button/button.scss";
@import "./segmented-button/segmented-button.scss";
@import "./card/card.scss";
@import "./dialog/dialog.scss";
@import "./side-sheet/side-sheet.scss";
@import "./bottom-sheet/bottom-sheet.scss";
@import "./navigation-drawer/navigation-drawer.scss";
@import "./navigation-rail/navigation-rail.scss";
@import "./navigation-bar/navigation-bar.scss";

@import "./bottom-app-bar/bottom-app-bar.scss";
@import "./top-app-bar/top-app-bar.scss";
@import "./snackbar/snackbar.scss";
@import "./menu/menu.scss";
@import "./tooltip/tooltip.scss";
@import "./tabs/tabs.scss";

@import "./datetime-picker/datetime-picker.scss";
@import "./date-picker/date-picker.scss";
@import "./time-picker/time-picker.scss";
@import "./month-picker/month-picker.scss";
@import "./week-picker/week-picker.scss";
@import "./color-picker/color-picker.scss";

@import "./chips/chips.scss";
@import "./slider/slider.scss";
@import "./progress-indicator/progress-indicator.scss";

@import "./text-field/text-field.scss";
@import "./number-field/number-field.scss";
@import "./tel-field/tel-field.scss";
@import "./email-field/email-field.scss";
@import "./url-field/url-field.scss";
@import "./password-field/password-field.scss";
@import "./search-field/search-field.scss";
@import "./file-field/file-field.scss";

@import "./color-field/color-field.scss";
@import "./datetime-field/datetime-field.scss";
@import "./date-field/date-field.scss";
@import "./month-field/month-field.scss";
@import "./week-field/week-field.scss";
@import "./time-field/time-field.scss";

@import "./textarea-field/textarea-field.scss";
@import "./select-field/select-field.scss";

@import "./data-table/data-table.scss";

.viewport {
    width: calc(200px * 5);
    width: 100%;
    height: calc(56px * 5);
    height: 100%;
}
.row {
    display: flex;
    align-items: center;
    height: 56px;
    &:nth-child(5n + 1) {height: calc(56px + (4px * -8));}
    &:nth-child(5n + 2) {height: calc(56px + (4px * -6));}
    &:nth-child(5n + 3) {height: calc(56px + (4px * -4));}
    &:nth-child(5n + 4) {height: calc(56px + (4px * -2));}
    &:nth-child(5n + 5) {height: calc(56px + (4px * 0));}
}
.column {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
    width: 200px;
    height: 100%;
    border: 1px solid;
    &:nth-child(5n + 1) {width: calc(200px + (16px * -4));}
    &:nth-child(5n + 2) {width: calc(200px + (16px * -3));}
    &:nth-child(5n + 3) {width: calc(200px + (16px * -2));}
    &:nth-child(5n + 4) {width: calc(200px + (16px * -1));}
    &:nth-child(5n + 5) {width: calc(200px + (16px * 0));}
}
