.md-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    min-width: 16px;
    height: 16px;
    border-radius: 8px;
    padding: 0 4px;
    @include typescale-label-small();
    background-color: var(--md-sys-color-error);
    color: var(--md-sys-color-on-error);

    &:empty {
        min-width: 6px;
        height: 6px;
        border-radius: 3px;
        padding: 0;
    }
}
