app-icon {
    .body {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .row {
        display: flex;
        align-items: center;
        gap: 24px;
    }
    .column {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        width: 48px;
        height: 48px;
        font-size: 48px;
    }
    .label {
        width: auto;
        font-size: 24px;
    }
}
