.md-navigation-rail {
    grid-area: west;
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    width: 80px;
    border-radius: var(--md-sys-shape-corner-none);
    background: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    box-shadow: var(--md-sys-elevation-level0);
    transition-property: all;
    transition-duration: var(--md-sys-motion-duration-short4);
    transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-legacy));

    &:not([open]) {
        margin-left: -80px;
        pointer-events: none;
    }
}

.md-navigation-rail__header {
    display: flex;
    align-items: center;
    padding: 24px;
    gap: 0 16px;
}

.md-navigation-rail__actions {
    display: inline-flex;
    align-items: center;
    gap: 0 16px;
}

// .md-navigation-rail__action {}

.md-navigation-rail__label {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.md-navigation-rail__label-primary {
    @include md-typography-title-large;
}

.md-navigation-rail__label-secondary {
    @include md-typography-title-small;
}

.md-navigation-rail__body {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.md-navigation-rail__inner {
    flex: 1;
    overflow: auto;
    @include md-typography-body-medium;
}

.md-navigation-rail__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 24px;
    gap: 0 8px;
}

// .md-navigation-rail__button {}
