@keyframes md-ripple {
    0% {
        width: 0%;
    }
}

@keyframes md-ripple-fadeout {
    0% {
        opacity: 10%;
    }
}

@mixin md-ripple {
    --md-ripple-size: 141.4213562373095%;
    --md-ripple-left: 50%;
    --md-ripple-top: 50%;
    --md-ripple-x: 0%;
    --md-ripple-y: 0%;
    position: relative;

    &::after {
        content: "";
        width: var(--md-ripple-size, 141.4213562373095%);
        aspect-ratio: 1/1;
        border-radius: 50%;
        position: absolute;
        left: var(--md-ripple-left, 50%);
        top: var(--md-ripple-top, 50%);
        transform: translate3d(-50%, -50%, 0px) translate3d(var(--md-ripple-x, 0%), var(--md-ripple-y, 0%), 0px);
        background: var(--md-sys-color-primary);
        opacity: 0;
        pointer-events: none;
    }
}

@mixin md-ripple--containment {
    overflow: hidden;
}

@mixin md-ripple--button {
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

@mixin md-ripple--inverse {
    &::after {
        background: var(--md-sys-color-on-primary);
    }
}

@mixin md-ripple--focused {
    &::after {
        opacity: 10%;
        animation-name: var(--md-ripple-animation,);
        animation-duration: var(--md-sys-motion-duration-short4);
        animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-legacy));
    }
}

@mixin md-ripple--fadeout {
    &::after {
        opacity: 0%;
        animation-name: var(--md-ripple-animation,), var(--md-ripple-animation-fadeout,);
        animation-duration: var(--md-sys-motion-duration-short4), var(--md-sys-motion-duration-long4);
        animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-legacy)), cubic-bezier(var(--md-sys-motion-easing-legacy));
    }
}

@mixin md-ripple--hover {
    &::after {
        opacity: 8%;
    }

    &.md-icon,
    .md-icon,
    &.md-icon-button,
    .md-icon-button {
        font-variation-settings:
            "FILL" 0,
            "wght" 400,
            "GRAD" 100,
            "opsz" 24;
    }
}

@mixin md-ripple--pressed {
    &::after {
        opacity: 10%;
    }

    &.md-icon,
    .md-icon,
    &.md-icon-button,
    .md-icon-button {
        font-variation-settings:
            "FILL" 0,
            "wght" 400,
            "GRAD" -100,
            "opsz" 24;
    }
}

@mixin md-ripple--dragged {
    box-shadow: var(--md-sys-elevation-level4);

    &::after {
        opacity: 16%;
    }
}

@mixin md-ripple--selected {
    background: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
}

@mixin md-ripple--disabled {
    opacity: 38%;

    &::after {
        opacity: 0%;
    }
}

.md-ripple {
    @include md-ripple;
}
.md-ripple--containment {
    @include md-ripple--containment;
}
.md-ripple--button {
    @include md-ripple--button;
}
.md-ripple--inverse {
    @include md-ripple--inverse;
}

.md-ripple--selected,
.md-ripple[selected] {
    @include md-ripple--selected;
}
.md-ripple--focused {
    @include md-ripple--focused;
}
.md-ripple--hover {
    @include md-ripple--hover;
}
.md-ripple--pressed {
    @include md-ripple--pressed;
}
.md-ripple--dragged {
    @include md-ripple--dragged;
}

.md-ripple--fadeout {
    @include md-ripple--fadeout;
}

.md-ripple--disabled,
.md-ripple[disabled] {
    @include md-ripple--disabled;
}
