

* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;

    &,
    &::before,
    &::after {
        box-sizing: border-box;
    }

    &:focus{
        outline: none;
    }
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    overflow: auto;
    @include md-typography-body-large;
    font-family: "Noto Sans";
    background: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
}
