.md-navigation-bar {
    --md-comp-sheet-height: 80px;

    grid-area: south;
    display: inline-flex;
    min-height: var(--md-comp-sheet-height);
    margin-bottom: calc(0px - var(--md-comp-sheet-height));
    border-radius: var(--md-sys-shape-corner-none);
    background-color: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface-variant);
    box-shadow: var(--md-sys-elevation-level0);
    animation-name: var(--md-comp-sheet-animation, sheetSouthOut);
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-emphasized));
    animation-duration: var(--md-sys-motion-duration-short4);

    &[open] {
        margin-bottom: 0;
        box-shadow: var(--md-sys-elevation-level2);
        animation-name: var(--md-comp-sheet-animation, sheetSouthIn);
    }

    .md-card__inner {
        overflow: hidden;
        padding: 0;
        margin: 0;
    }
}
