.md-data-table {
    display: flex;
    flex-direction: column;

    table {
        display: block;
        overflow: auto;

        border-collapse: collapse;
        border-spacing: 0;

        thead {
            position: sticky;
            top: 0;
            z-index: 1;
            background: var(--md-sys-color-surface);
            color: var(--md-sys-color-on-surface);
        }
        th {
            text-align: left;

            .md-data-table__item {
                min-height: 56px;
                border-bottom: 1px solid var(--md-sys-color-outline-variant);
            }

            .md-data-table__label-primary {
                @extend .md-typography--label-large;
            }
        }
        tbody {
            tr {
                &:hover {
                    .md-data-table__item {
                        @extend .md-ripple--hover;
                    }
                }
                &[selected]{
                    .md-data-table__item {
                        @extend .md-ripple--selected;
                    }
                }
            }
        }
        td {
            max-width: 0;

            .md-data-table__item {
                border-bottom: 1px solid var(--md-sys-color-outline-variant);
            }
        }
    }
}

.md-data-table__row {
    display: flex;
    flex-direction: column;
}

.md-data-table__item {
    display: flex;
    align-items: center;

    padding: 8px 16px;
    gap: 0 16px;

    @extend .md-ripple;
    @extend .md-ripple--containment;
    @extend .md-ripple--button;
}

.md-data-table__avatar {
    height: 40px;
}

.md-data-table__image {
    height: 56px;
}

.md-data-table__video {
    height: 64px;
    margin: 4px 0 4px -16px;
}

.md-data-table__action {
    color: var(--md-sys-color-on-surface-variant);
}

.md-data-table__icon {
    color: var(--md-sys-color-on-surface-variant);
}

.md-data-table__label {
    flex: 1;

    min-width: 0%;
    max-width: 100%;

    display: flex;
    flex-direction: column;
}

.md-data-table__label-primary {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @extend .md-typography--body-medium;
}

.md-data-table__label-secondary {
    height: 20px;
    overflow: hidden;

    @extend .md-typography--body-medium;
}

.md-data-table__text {
    @extend .md-typography--body-small;
}

.md-data-table__checkbox {
}

.md-data-table__radio-button {
}

.md-data-table__switch {
}

.md-data-table__item {
    min-height: 52px;
}

.md-data-table__item--two-line {
    min-height: 72px;
}

.md-data-table__item--three-line {
    align-items: flex-start;

    min-height: 88px;
    padding-top: 12px;
    padding-bottom: 12px;

    .md-data-table__video {
        margin-top: 0;
        margin-bottom: 0;
    }

    .md-data-table__label-secondary {
        height: 40px;
    }
}
