.md-data-table {
    display: flex;
    flex-direction: column;
}

.md-data-table__row {
    display: flex;
    flex-direction: column;
}

.md-data-table__item {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 0 16px;
    background: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);

    &.md-ripple--focused {
        &::after {
            opacity: 0;
        }
    }
}

.md-data-table__avatar {
    width: 40px;
    height: 40px;
}

.md-data-table__thumbnail {
    width: 56px;
    height: 56px;
}

.md-data-table__video {
    height: 64px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: -16px;
}

.md-data-table__label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 4px;
    min-width: 0;
}

.md-data-table__label-primary {
    flex: 1 0 calc(100% - 4px - 34px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include md-typography-body-medium;
}

.md-data-table__label-secondary {
    flex: 1 0 100%;
    height: 20px;
    overflow: hidden;
    @include md-typography-body-medium;
}

// .md-data-table__icon{}

.md-data-table__action{
    width: 24px;
    height: 24px;
}

// .md-data-table__checkbox{}

// .md-data-table__radio-button{}

// .md-data-table__switch{}

.md-data-table__text {
    margin-left: auto;
    @include md-typography-label-small;
}

.md-data-table__item {
    min-height: 56px;
}

.md-data-table__item--two-line {
    min-height: 72px;
}

.md-data-table__item--three-line {
    min-height: 88px;
    padding-top: 12px;
    padding-bottom: 12px;
    align-items: start;

    .md-data-table__video {
        margin-top: 0;
        margin-bottom: 0;
    }

    .md-data-table__label-secondary {
        height: 40px;
    }
}

.md-data-table{
    width: 100%;
    height: 100%;

    table{
        display: block;
        width: 100%;
        height: 100%;
        border-spacing: 0;
        border-collapse: separate;
    }
    // thead{}
    // tr{}
    th{
        text-align: left;
        border-bottom: 1px solid var(--md-sys-color-outline-variant);
        position: sticky;
        top: 0;
        z-index: 2;

        .md-data-table__label-primary {
            @include md-typography-label-large;
        }
    }
    tbody{
        tr{
            &:hover{.md-data-table__item{@include md-ripple--hover;}}
            &[selected]{.md-data-table__item{@include md-ripple--selected;}}
            &:focus{.md-data-table__item{@include md-ripple--focused;}}
            &:active{.md-data-table__item{@include md-ripple--pressed;}}
            &:hover{.md-data-table__item{@include md-ripple--hover;}}
        }
    }
    td{
        max-width: 0;
        border-bottom: 1px solid var(--md-sys-color-outline-variant);

        .md-data-table__item {
            min-height: 52px;
            @include md-ripple;
            @include md-ripple--button;
            @include md-ripple--containment;
        }
    }
}