
table {
    border-spacing: 0;
    border-collapse: separate;
}

th {
    text-align: left;
}

.md-data-table {
    --md-data-table-column-height: calc(56px + (4px * var(--md-density)));
    --md-data-table-row-height: calc(52px + (4px * var(--md-density)));
    display: flex;
    flex-direction: column;

    table {
        display: block;
        overflow: auto;
        height: 100%;
        width: 100%;
    }

    thead {
        tr {
            th {
                &:last-child {
                    border-right: 0;
                }
            }
        }
    }

    tbody {
        tr {
            &[selected] {
                .md-data-table__container {
                    @extend .md-ripple--selected;
                }
            }

            &:hover {
                .md-data-table__container {
                    @extend .md-ripple--hover;
                }
            }

        
            &:not(:hover){
                .md-data-table__action{visibility: hidden;}
            }

            &:last-child {
                td {
                    border-bottom: 0;
                }
            }

            td {
                &:last-child {
                    border-right: 0;
                }
            }
        }
    }

    th {
        position: sticky;
        top: 0;
        z-index: 1;
        background: var(--md-sys-color-background);
        color: var(--md-sys-color-on-background);
        border-bottom: 1px solid var(--md-sys-color-outline-variant);

        .md-data-table__container {
            height: var(--md-data-table-column-height);
        }

        .md-data-table__label {
            @extend .md-typography--label-large;
        }

        &:hover {
            .md-data-table__container {
                @extend .md-ripple--hover;
            }
        }

        &:not(:hover){
            &:not(.md-data-table__th--order){
                .md-data-table__icon{visibility: hidden;}
            }
            .md-data-table__action{visibility: hidden;}
        }
    }

    td {
        max-width: 0;
        border-bottom: 1px solid var(--md-sys-color-outline-variant);

        .md-data-table__container{
            @extend .md-ripple;
            @extend .md-ripple--containment;
            @extend .md-ripple--button;
        
            &:after {
                width: 200%;
            }
        }
    }
}

.md-data-table__container {
    display: flex;
    align-items: center;
    height: var(--md-data-table-row-height);
    padding: 0 16px;
    gap: 0 8px;
    
}

.md-data-table__container--number{
    justify-content: flex-end;
}


.md-data-table__label {
    @extend .md-typography--body-medium;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.md-data-table__actions{
    display: inline-flex;
    align-items: center;
    gap: 0 16px;
    margin-left: auto;
}
