.md-url-field {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.md-url-field__label {
    display: flex;
    align-items: center;
    // padding: 0 16px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 4px;
    @include md-typography-body-small;
    color: var(--md-sys-color-on-surface-variant);
}

.md-url-field__container {
    display: flex;
    align-items: center;
    padding: 0 16px;
    gap: 0 16px;
    border-radius: 4px;
    background: var(
        --md-sys-color-surface-container
    ); // var(--md-sys-color-surface-container-highest);
}

.md-url-field__icon {
    margin-left: -4px;
    color: var(--md-sys-color-on-surface-variant);
    // +.md-url-field__actions{
    //     margin-left: -4px;
    // }
}

.md-url-field__meta {
    margin-right: -16px;
    padding-top: calc((56px - 24px) / 2);
    padding-bottom: calc((56px - 24px) / 2);
    @include md-typography-body-large;
    color: var(--md-sys-color-on-surface);
}

.md-url-field__native {
    appearance: none;
    width: 100%;
    background: transparent;
    color: inherit;
    padding: 16px 0;
    @include md-typography-body-large;
    color: var(--md-sys-color-on-surface);

    + .md-url-field__meta {
        margin-left: -16px;
        margin-right: 0;
    }

    ~ .md-url-field__icon {
        margin-left: 0;
        margin-right: -4px;
    }
}

.md-url-field__actions {
    display: inline-flex;
    align-items: center;
    gap: 0 12px;
    margin-right: -4px;
}

.md-url-field__action {
    color: var(--md-sys-color-on-surface-variant);
}

.md-url-field__text {
    display: flex;
    align-items: center;
    padding: 0 16px;
    margin-top: 4px;
    @include md-typography-body-small;
    color: var(--md-sys-color-on-surface-variant);
}

.md-url-field {
    // &[populated] {
    // }

    &[focused] {
        .md-url-field__label {
            color: var(--md-sys-color-primary);
        }
    }

    &[invalid] {
        .md-url-field__label {
            color: var(--md-sys-color-error);
        }

        .md-url-field__icon {
            color: var(--md-sys-color-error);
        }

        .md-url-field__text {
            color: var(--md-sys-color-error);
        }
    }
}

.md-url-field--filled {
    .md-url-field__label {
        padding-top: calc((56px - 24px) / 2);
        padding-bottom: calc((56px - 24px) / 2);
        @include md-typography-body-large;
        position: absolute;
        left: calc(var(--md-url-field-offset-left, 0px) - 16px);
        top: 0;
        pointer-events: none;
        transition-property: all;
        transition-duration: var(--md-sys-motion-duration-short4);
        transition-timing-function: cubic-bezier(
            var(--md-sys-motion-easing-legacy)
        );

        + .md-url-field__container {
            .md-url-field__meta {
                visibility: hidden;
            }

            .md-url-field__native {
                &::placeholder {
                    visibility: hidden;
                }
            }
        }
    }

    .md-url-field__container {
        border-radius: 4px 4px 0 0;
        box-shadow: inset 0 -1px 0 0 var(--md-sys-color-on-surface-variant);
    }

    &[focused],
    &[populated] {
        .md-url-field__label {
            padding-top: calc(((56px - 24px) / 2) - 8px);
            padding-bottom: calc(((56px - 24px) / 2) + 8px);
            @include md-typography-body-small;

            + .md-url-field__container {
                .md-url-field__meta {
                    padding-top: calc(((56px - 24px) / 2) + 4px);
                    padding-bottom: calc(((56px - 24px) / 2) - 4px);
                    visibility: visible;
                }

                .md-url-field__native {
                    padding-top: calc(((56px - 24px) / 2) + 4px);
                    padding-bottom: calc(((56px - 24px) / 2) - 4px);

                    &::placeholder {
                        visibility: visible;
                    }
                }
            }
        }
    }

    &[focused] {
        .md-url-field__container {
            box-shadow: inset 0 -2px 0 0 var(--md-sys-color-primary);
        }
    }

    &[invalid] {
        .md-url-field__container {
            box-shadow: inset 0 -2px 0 0 var(--md-sys-color-error);
        }
    }
}

.md-url-field--outlined {
    .md-url-field__label {
        padding-top: calc((56px - 24px) / 2);
        padding-bottom: calc((56px - 24px) / 2);
        @include md-typography-body-large;
        position: absolute;
        left: calc(var(--md-url-field-offset-left, 0px) - 16px);
        top: 0;
        pointer-events: none;
        transition-property: all;
        transition-duration: var(--md-sys-motion-duration-short4);
        transition-timing-function: cubic-bezier(
            var(--md-sys-motion-easing-legacy)
        );

        &::before {
            content: "";
            width: 0%;
            height: 100%;
            transform: translate3d(-50%, -50%, 0);
            background: var(--md-sys-color-background);
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: -1;
            transition-property: all;
            transition-duration: var(--md-sys-motion-duration-short4);
            transition-timing-function: cubic-bezier(
                var(--md-sys-motion-easing-legacy)
            );
        }

        + .md-url-field__container {
            .md-url-field__meta {
                visibility: hidden;
            }

            .md-url-field__native {
                &::placeholder {
                    visibility: hidden;
                }
            }
        }
    }

    .md-url-field__container {
        border-radius: 4px;
        background: transparent;
        box-shadow: inset 0 0 0 1px var(--md-sys-color-on-surface-variant);
    }

    &[focused],
    &[populated] {
        .md-url-field__label {
            padding-top: 0;
            padding-bottom: 0;
            transform: translate3d(0%, -50%, 0px);
            @include md-typography-body-small;
            left: 0;

            &::before {
                width: 100%;
            }

            + .md-url-field__container {
                .md-url-field__meta {
                    visibility: visible;
                }

                .md-url-field__native {
                    &::placeholder {
                        visibility: visible;
                    }
                }
            }
        }
    }

    &[focused] {
        .md-url-field__container {
            box-shadow: inset 0 0 0 2px var(--md-sys-color-primary);
        }
    }

    &[invalid] {
        .md-url-field__container {
            box-shadow: inset 0 0 0 2px var(--md-sys-color-error);
        }
    }
}

.md-url-field--rounded {
    .md-url-field__container {
        border-radius: calc(56px / 2);
    }

    .md-url-field__icon {
        margin-left: 0;
        margin-right: 0;
        + .md-url-field__actions {
            margin-left: -4px;
        }
    }

    .md-url-field__actions {
        margin-right: 0;
    }

    &.md-url-field--filled {
        .md-url-field__container {
            box-shadow: none;
        }

        &[focused] {
            .md-url-field__container {
                box-shadow: none;
            }
        }

        &[invalid] {
            .md-url-field__container {
                box-shadow: none;
            }
        }
    }
}
