.md-tooltip {
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    max-width: calc(360px - (8px * 2));
    border-radius: var(--md-sys-shape-corner-medium);
    background: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface);
    box-shadow: var(--md-sys-elevation-level2);
    position: absolute;
    z-index: 4;
    transition-property: all;
    transition-duration: var(--md-sys-motion-duration-short4);
    transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-legacy));

    &:not([open]) {
        opacity: 0;
        pointer-events: none;
    }
}

.md-tooltip__header {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    gap: 0 16px;

    + .md-tooltip__body {
        margin-top: -8px;

        .md-tooltip__inner {
            margin-top: 0px;
        }
    }
}

.md-tooltip__actions {
    display: inline-flex;
    align-items: center;
    gap: 0 16px;
}

.md-tooltip__label {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.md-tooltip__label-primary {
    @include md-typography-title-small;
}

.md-tooltip__label-secondary {
    @include md-typography-title-small;
}

.md-tooltip__body {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.md-tooltip__inner {
    flex: 1;
    overflow: auto;
    padding: 0 16px;
    margin: 12px 0;
    @include md-typography-body-medium;

    + .md-tooltip__footer {
        margin-top: -12px;
    }
}

.md-tooltip__footer {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 0 40px;
}

.md-tooltip__button {
    padding-left: 4px;
    padding-right: 4px;
}

.md-tooltip--plain {
    border-radius: var(--md-sys-shape-corner-extra-small);
    background: var(--md-sys-color-inverse-surface);
    color: var(--md-sys-color-inverse-on-surface);
    box-shadow: var(--md-sys-elevation-level0);

    .md-tooltip__inner {
        padding-left: 8px;
        padding-right: 8px;
        margin-top: 4px;
        margin-bottom: 4px;
        @include md-typography-body-small;
    }
}

.md-tooltip__scrim {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    transition-property: all;
    transition-duration: var(--md-sys-motion-duration-short4);
    transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-legacy));
    pointer-events: none;

    &:not([open]) {
        opacity: 0;
        pointer-events: none;
    }
}
