.md-top-app-bar {
    grid-area: north;
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    height: 64px;
    border-radius: var(--md-sys-shape-corner-none);
    background: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    box-shadow: var(--md-sys-elevation-level0);
    transition-property: all;
    transition-duration: var(--md-sys-motion-duration-short4);
    transition-timing-function: cubic-bezier(
        var(--md-sys-motion-easing-legacy)
    );

    &:not([open]) {
        margin-top: -64px;
        pointer-events: none;
    }
}

.md-top-app-bar__header {
    display: flex;
    align-items: center;

    height: 64px;
    padding: 20px 16px;
    gap: 0 16px;

    + .md-top-app-bar__body {
        .md-top-app-bar__inner {
            margin-top: 0px;
        }
    }
}

.md-top-app-bar__actions {
    display: inline-flex;
    align-items: center;
    gap: 0 16px;
}

// .md-top-app-bar__action {}

.md-top-app-bar__label {
    flex: 1;
    display: flex;
    flex-direction: column;

    + .md-top-app-bar__actions {
        margin-left: auto;
    }
}

.md-top-app-bar__label-primary {
    @include md-typography-title-large;
}

.md-top-app-bar__label-secondary {
    @include md-typography-title-small;
}

.md-top-app-bar__body {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.md-top-app-bar__inner {
    flex: 1;
    overflow: auto;
    padding: 0 24px;
    margin: 24px 0;
    @include md-typography-body-medium;

    + .md-top-app-bar__footer {
        margin-top: -24px;
    }
}

.md-top-app-bar__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 24px;
    gap: 0 8px;
}

// .md-top-app-bar__button {}

// .md-top-app-bar {
//     border-radius: var(--md-sys-shape-corner-none);
//     background: var(--md-sys-color-surface-container);
//     color: var(--md-sys-color-on-surface);
//     box-shadow: var(--md-sys-elevation-level2);

//     &:not([open]) {
//         box-shadow: var(--md-sys-elevation-level0);
//     }
// }

.md-top-app-bar--center-aligned {
    .md-top-app-bar__label {
        align-items: center;
    }
}

// .md-top-app-bar--small {}

.md-top-app-bar--medium {
    height: 112px;

    .md-top-app-bar__header {
        align-content: space-between;
        flex-wrap: wrap;
        height: 112px;
        padding-bottom: 24px;
    }

    .md-top-app-bar__label {
        flex: 1 0 100%;
        order: 1;
    }

    .md-top-app-bar__label-primary {
        @include md-typography-headline-small;
    }

    &:not([open]) {
        margin-top: -112px;
    }
}

.md-top-app-bar--large {
    height: 152px;

    .md-top-app-bar__header {
        align-content: space-between;
        flex-wrap: wrap;
        height: 152px;
        padding-bottom: 28px;
    }

    .md-top-app-bar__label {
        flex: 1 0 100%;
        order: 1;
    }

    .md-top-app-bar__label-primary {
        @include md-typography-headline-medium;
    }

    &:not([open]) {
        margin-top: -152px;
    }
}
