.md-list {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
}
.md-list__item {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 0 16px;
}
// .md-list__checkbox{}
// .md-list__radio-button{}
// .md-list__switch{}
.md-list__avatar {
    width: 40px;
    height: 40px;
}
.md-list__thumbnail {
    width: 56px;
    height: 56px;
}
.md-list__video {
    height: 64px;
    margin: 4px 0 4px -16px;
}
// .md-list__icon{}
.md-list__inner {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0 4px;
}
.md-list__label {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.md-list__label-primary {
    @include typescale-body-large();
    height: var(--md-sys-typescale-body-large-line-height);
    overflow: hidden;
}
.md-list__label-secondary {
    @include typescale-body-medium();
    height: var(--md-sys-typescale-body-medium-line-height);
    overflow: hidden;
}
// .md-list__badge{}
.md-list__text {
    @include typescale-body-small();
}

.md-list__item {
    min-height: 56px;
}
.md-list__item--two {
    min-height: 72px;
}
.md-list__item--three {
    align-items: flex-start;
    min-height: 88px;
    padding-top: 12px;
    padding-bottom: 12px;

    .md-list__video {
        margin-top: 0;
        margin-bottom: 0;
    }

    .md-list__label-secondary {
        height: calc(var(--md-sys-typescale-body-medium-line-height) * 2);
    }
}
