.md-form {
    display: flex;
    flex-direction: column;
}

// .md-form__native{}

// form{}

// fieldset{}
// legend{}

// label{}
// input{}
// datalist{}

// select{}
// optgroup{}
// option{}

// textarea{}

// button{}

// output{}
// meter{}
// progress{}

// input[type="hidden"]{}
// input[type="image"]{}

// input[type="text"]{}
// input[type="tel"]{}
// input[type="email"]{}
// input[type="url"]{}

// input[type="number"]{}
// input[type="password"]{}
// input[type="search"]{}
// input[type="color"]{}

// input[type="range"]{}
// input[type="file"]{}

// input[type="datetime-local"]{}
// input[type="date"]{}
// input[type="month"]{}
// input[type="week"]{}
// input[type="time"]{}

// input[type="checkbox"]{}
// input[type="radio"]{}

// input[type="button"]{}
// input[type="reset"]{}
// input[type="submit"]{}

.md-color-field__native--hidden {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    letter-spacing: 0;
}

.md-number-field__native::-webkit-inner-spin-button {
    appearance: none;
}

.md-search-field__native::-webkit-search-cancel-button {
    appearance: none;
}

.md-color-field__native::-webkit-color-swatch-wrapper {
    display: none;
}
.md-color-field__native::-webkit-color-swatch {
    display: none;
}

.md-file-field__native::-webkit-file-upload-button {
    display: none;
}

.md-datetime-field__native::-webkit-datetime-edit-day-field,
.md-datetime-field__native::-webkit-datetime-edit-month-field,
.md-datetime-field__native::-webkit-datetime-edit-year-field,
.md-datetime-field__native::-webkit-datetime-edit-hour-field,
.md-datetime-field__native::-webkit-datetime-edit-minute-field,
.md-datetime-field__native::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
}
.md-datetime-field__native::-webkit-calendar-picker-indicator {
    display: none;
}

.md-date-field__native::-webkit-datetime-edit-day-field,
.md-date-field__native::-webkit-datetime-edit-month-field,
.md-date-field__native::-webkit-datetime-edit-year-field,
.md-date-field__native::-webkit-datetime-edit-hour-field,
.md-date-field__native::-webkit-datetime-edit-minute-field,
.md-date-field__native::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
}
.md-date-field__native::-webkit-calendar-picker-indicator {
    display: none;
}

.md-month-field__native::-webkit-datetime-edit-day-field,
.md-month-field__native::-webkit-datetime-edit-month-field,
.md-month-field__native::-webkit-datetime-edit-year-field,
.md-month-field__native::-webkit-datetime-edit-hour-field,
.md-month-field__native::-webkit-datetime-edit-minute-field,
.md-month-field__native::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
}
.md-month-field__native::-webkit-calendar-picker-indicator {
    display: none;
}

.md-week-field__native::-webkit-datetime-edit-day-field,
.md-week-field__native::-webkit-datetime-edit-month-field,
.md-week-field__native::-webkit-datetime-edit-year-field,
.md-week-field__native::-webkit-datetime-edit-hour-field,
.md-week-field__native::-webkit-datetime-edit-minute-field,
.md-week-field__native::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
}
.md-week-field__native::-webkit-calendar-picker-indicator {
    display: none;
}

.md-time-field__native::-webkit-datetime-edit-day-field,
.md-time-field__native::-webkit-datetime-edit-month-field,
.md-time-field__native::-webkit-datetime-edit-year-field,
.md-time-field__native::-webkit-datetime-edit-hour-field,
.md-time-field__native::-webkit-datetime-edit-minute-field,
.md-time-field__native::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
}
.md-time-field__native::-webkit-calendar-picker-indicator {
    display: none;
}
