.md-menu {
    display: inline-flex;
    min-width: 112px;
    max-width: 280px;
    border-radius: var(--md-sys-shape-corner-extra-small);
    background: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface-variant);
    box-shadow: var(--md-sys-elevation-level2);
    position: absolute;
    z-index: 7;
    animation-name: var(--md-comp-pane-animation, menuIn);
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-emphasized));
    animation-duration: var(--md-sys-motion-duration-short4);

    > * {
        animation-name: var(--md-comp-pane-animation, menuInnerIn);
        animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-emphasized));
        animation-duration: var(--md-sys-motion-duration-short4);
        transform-origin: inherit;
    }

    &:not([open]) {
        visibility: hidden;
        pointer-events: none;
        animation-name: var(--md-comp-pane-animation, menuOut);

        > * {
            animation-name: var(--md-comp-pane-animation, menuInnerOut);
        }
    }

    .md-pane__header {
        padding: 0;

        + .md-pane__body {
            margin-top: 0;
        }
    }

    .md-pane__inner {
        padding: 0;
        margin: 0;

        + .md-pane__footer {
            margin-top: 0;
        }
    }

    .md-pane__footer {
        padding: 0;
    }

    + .md-pane__scrim {
        opacity: 0;
    }
}

.md-menu__list {
    .md-list__item {
        min-height: 48px;
        padding-left: 12px;
        padding-right: 12px;
        column-gap: 12px;
    }
    .md-list__label-primary {
        @include typography-label-large();
        height: var(--md-sys-typescale-label-large-line-height);
    }
}
