.md-tabs {
    flex-direction: row;
    padding: 0;
    box-shadow: inset 0 -1px 0 0 var(--md-sys-color-surface-variant);
    position: relative;

    &::before {
        content: "";
        width: var(--md-comp-tabs-indicator-width);
        height: 2px;
        background-color: var(--md-sys-color-primary);
        position: absolute;
        left: var(--md-comp-tabs-indicator-left);
        right: var(--md-comp-tabs-indicator-right);
        bottom: 0;
        transition-property: width, left, right;
        transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-emphasized));
        transition-duration: var(--md-sys-motion-duration-short4);
        transition-delay: 0s, var(--md-comp-tabs-indicator-transition-left, var(--md-sys-motion-duration-short2)), var(--md-comp-tabs-indicator-transition-right, var(--md-sys-motion-duration-short2));
    }

    .md-tree__item {
        justify-content: center;
        flex: 1 0 auto;
        min-height: 48px;
        gap: 4px 8px;

        &[selected] {
            background-color: transparent;
            color: var(--md-sys-color-primary);
        }
    }

    .md-tree__inner {
        flex: 0 0 auto;
    }

    .md-tree__label {
        flex: 0 0 auto;
    }
}

.md-tabs--primary {
    &::before {
        height: 3px;
        border-radius: 3px 3px 0 0;
    }

    .md-tree__item {
        flex-direction: column;
    }

    .md-tree__icon {
        + .md-tree__inner {
            .md-tree__label {
                + .md-tree__badge {
                    margin-top: -20px;
                    transform: translate3d(-0%, -50%, 0);
                    position: absolute;
                    left: 50%;
                    top: 50%;

                    &:empty {
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}

// .md-tabs--secondary {}
