.md-text-field{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 100%;
}
.md-text-field__inner{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.md-text-field__label{
    display: flex;
    align-items: center;
    padding: 0 16px;
    margin: 4px 0;
    @include typescale-body-small();
}
.md-text-field__placeholder{
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    letter-spacing: 0;
    position: absolute;
    left: 0;
    top: 0;
}
.md-text-field__container{
    display: flex;
    align-items: center;
    padding: 0 16px;
    gap: 0 16px;
    border-radius: var(--md-sys-shape-corner-extra-small);
    background: var(--md-sys-color-surface-container-high);
    color: var(--md-sys-color-on-surface);
}
.md-text-field__icon{
    margin-left: -4px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.md-text-field__meta{
    margin-top: 16px;
    margin-bottom: 16px;
    @include typescale-body-large();
    +.md-text-field__native{
        margin-left: -16px;
    }
}
.md-text-field__native{
    appearance: none;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    background: transparent;
    color: inherit;
    @include typescale-body-large();
    +.md-text-field__meta{
        margin-left: -16px;
    }
}
.md-text-field__actions{
    display: inline-flex;
    align-items: center;
    gap: 0 12px;
    margin-right: -4px;
    margin-top: 16px;
    margin-bottom: 16px;
    .md-text-field__icon{
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}
// .md-text-field__icon-button{}
.md-text-field__text{
    display: flex;
    align-items: center;
    padding: 0 16px;
    margin: 4px 0;
    @include typescale-body-small();
}

// .md-text-field--populated{}
.md-text-field--focused{
    .md-text-field__label{color: var(--md-sys-color-primary);}
}
.md-text-field--error{
    .md-text-field__label{color: var(--md-sys-color-error);}
    .md-text-field__icon--error{color: var(--md-sys-color-error);}
    .md-text-field__text{color: var(--md-sys-color-error);}
}