.md-snackbar {
    display: inline-flex;
    flex-direction: column;
    width: 344px;
    background: var(--md-sys-color-inverse-surface);
    color: var(--md-sys-color-inverse-on-surface);
    box-shadow: var(--md-sys-elevation-level3);
    border-radius: var(--md-sys-shape-corner-extra-small);
}
.md-snackbar__body {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 48px;
}
.md-snackbar__inner {
    width: 70%;
    padding: 14px 0 14px 16px;
    @extend .md-typography--body-medium;
}
.md-snackbar__footer {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.md-snackbar__action {
    margin: 2px 8px 2px 0;
    padding: 0 8px;
    color: var(--md-sys-color-inverse-primary);
}
.md-snackbar__icon {
    margin: 0 12px 0 0;
    .md-icon-button__icon {
        color: var(--md-sys-color-inverse-on-surface);
    }
}
