.md-snackbar {
    display: inline-flex;
    flex-direction: column;
    width: 344px;
    border-radius: var(--md-sys-shape-corner-extra-small);
    background: var(--md-sys-color-inverse-surface);
    color: var(--md-sys-color-inverse-on-surface);
    // box-shadow: var(--md-sys-elevation-level3);
}
.md-snackbar__body {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 8px 0 16px;
}
.md-snackbar__inner {
    flex: 1 0 65%;
    min-height: 48px;
    padding: 14px 0;
    @extend .md-typography--body-medium;
}
.md-snackbar__footer {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 0 8px;
}
.md-snackbar__action {
    margin: 2px 0;
    color: var(--md-sys-color-inverse-primary);
}
.md-snackbar__icon {
    .md-icon-button__icon {
        color: var(--md-sys-color-inverse-on-surface);
    }
}
