.md-nested-list {
    display: flex;
    flex-direction: column;

    padding: 8px 0;
}

.md-nested-list__row {
    display: flex;
    flex-direction: column;
}

.md-nested-list__item {
    display: flex;
    align-items: center;

    padding: 8px 16px;
    gap: 0 16px;
}

.md-nested-list__avatar {
    height: 40px;
}

.md-nested-list__image {
    height: 56px;
}

.md-nested-list__video {
    height: 64px;
    margin: 4px 0 4px -16px;
}

.md-nested-list__action {
    color: var(--md-sys-color-on-surface-variant);
}

.md-nested-list__icon {
    color: var(--md-sys-color-on-surface-variant);
}

.md-nested-list__label {
    flex: 1;

    min-width: 0%;
    max-width: 100%;

    display: flex;
    flex-direction: column;
}

.md-nested-list__label-primary {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @extend .md-typography--body-large;
}

.md-nested-list__label-secondary {
    height: 20px;
    overflow: hidden;

    @extend .md-typography--body-medium;
}

.md-nested-list__text {
    @extend .md-typography--body-small;
}

.md-nested-list__checkbox {
}

.md-nested-list__radio-button {
}

.md-nested-list__switch {
}

.md-nested-list__item {
    min-height: 56px;
}

.md-nested-list__item--two-line {
    min-height: 72px;
}

.md-nested-list__item--three-line {
    align-items: flex-start;

    min-height: 88px;
    padding-top: 12px;
    padding-bottom: 12px;

    .md-nested-list__video {
        margin-top: 0;
        margin-bottom: 0;
    }

    .md-nested-list__label-secondary {
        height: 40px;
    }
}

/* 
    menu
*/
.md-menu__nested-list {
    .md-nested-list__item {
        min-height: 48px;
        padding-left: 12px;
        padding-right: 12px;
        column-gap: 12px;
    }

    .md-nested-list__label-primary {
        @extend .md-typography--label-large;
    }
}

/* 
    navigation-bar
*/
.md-navigation-bar__nested-list {
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;

    .md-nested-list__row {
        flex: 1;
    }

    .md-nested-list__item {
        flex-direction: column;
        justify-content: center;
        height: 80px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 4px;
        padding-right: 4px;
        row-gap: 4px;

        &[selected] {
            background: transparent;
            color: inherit;

            .md-nested-list__icon {
                @extend .md-ripple--selected;
            }
        }
    }

    .md-nested-list__icon {
        height: 32px;
        width: 64px;
        border-radius: calc(32px / 2);
    }

    .md-nested-list__label {
        margin-bottom: 4px;
    }

    .md-nested-list__label-primary {
        @extend .md-typography--label-small;
    }

    position: relative;
    .md-badge{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(0%,-50%,0px);
        &:empty{
            transform: translate3d(-50%,-50%,0px);
            margin-left: 8px;
        }
    }
    .md-nested-list__icon+.md-nested-list__label+.md-badge{
        margin-top: -20px;
    }
    .md-nested-list__icon+.md-badge{
        margin-top: -8px;
    }
}

/* 
    navigation-drawer
*/
.md-navigation-drawer__nested-list {
    padding-top: 0;
    padding-bottom: 0;

    .md-nested-list__item {
        border-radius: calc(56px / 2);
        margin-left: 12px;
        margin-right: 12px;
        column-gap: 12px;
    }

    .md-nested-list__label-primary {
        @extend .md-typography--label-large;
    }
}

/* 
    navigation-rail
*/
.md-navigation-rail__nested-list {
    padding-top: 0;
    padding-bottom: 0;
    gap: 4px 0;

    .md-nested-list__item {
        flex-direction: column;
        justify-content: center;
        width: 80px;
        height: 56px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 4px;
        padding-right: 4px;
        row-gap: 4px;

        &[selected] {
            background: transparent;
            color: inherit;

            .md-nested-list__icon {
                @extend .md-ripple--selected;
            }
        }
    }

    .md-nested-list__icon {
        height: 32px;
        width: 56px;
        margin-left: 12px;
        margin-right: 12px;
        border-radius: calc(32px / 2);
    }

    .md-nested-list__label-primary {
        @extend .md-typography--label-small;
    }

    position: relative;
    .md-badge{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(0%,-50%,0px);
        &:empty{
            transform: translate3d(-50%,-50%,0px);
            margin-left: 8px;
        }
    }
    .md-nested-list__icon+.md-nested-list__label+.md-badge{
        margin-top: -18px;
    }
    .md-nested-list__icon+.md-badge{
        margin-top: -8px;
    }
}

/* 
    tab
*/
.md-tab__nested-list {
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;

    .md-nested-list__row {
        flex: 1;
    }

    .md-nested-list__item {
        justify-content: center;
        min-height: 48px;
        column-gap: 8px;

        &[selected] {
            background: transparent;
            color: var(--md-sys-color-primary);

            .md-nested-list__icon {
                color: inherit;
            }
        }
    }

    .md-nested-list__label {
        flex: 0 0 auto;
    }

    .md-nested-list__label-primary {
        @extend .md-typography--label-large;
    }

    .md-badge{
        margin-left: -4px;
    }

}

.md-tab__nested-list--primary {
    position: relative;
    &:after {
        content: "";
        width: var(--md-tab-width);
        height: 3px;
        border-radius: 3px 3px 0 0;
        background: var(--md-sys-color-primary);
        position: absolute;
        left: var(--md-tab-left);
        bottom: 0;
    }
    &::before{
        content:'';
        height: 1px;
        width: 100%;
        background: var(--md-sys-color-surface-variant);
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .md-nested-list__item {
        flex-wrap: wrap;
    }

    .md-nested-list__icon {
        width: 100%;
    }

    .md-nested-list__label {
        margin-top: 2px;
        margin-bottom: 2px;
    }


    position: relative;

    .md-nested-list__icon+.md-nested-list__label+.md-badge{
        margin-left: 0px;
        margin-top: -20px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(0%,-50%,0px);
        &:empty{
            transform: translate3d(-50%,-50%,0px);
            margin-left: 8px;
        }
    }
}

.md-tab__nested-list--secondary {
    position: relative;
    &:after {
        content: "";
        width: var(--md-tab-width);
        height: 2px;
        background: var(--md-sys-color-primary);
        position: absolute;

        left: var(--md-tab-left);
        bottom: 0;
    }
    &::before{
        content:'';
        height: 1px;
        width: 100%;
        background: var(--md-sys-color-surface-variant);
        position: absolute;
        left: 0;
        bottom: 0;
    }
}
