.md-nested-list {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
}

.md-nested-list__row {
    display: flex;
    flex-direction: column;
}

.md-nested-list__item {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 0 16px;
}

.md-nested-list__avatar {
    width: 40px;
    height: 40px;
}

.md-nested-list__thumbnail {
    width: 56px;
    height: 56px;
}

.md-nested-list__video {
    height: 64px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: -16px;
}

.md-nested-list__label {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 4px;
}

.md-nested-list__label-primary {
    flex: 1 0 calc(100% - 4px - 34px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include md-typography-body-large;
}

.md-nested-list__label-secondary {
    flex: 1 0 100%;
    height: 20px;
    overflow: hidden;
    @include md-typography-body-medium;
}

// .md-nested-list__icon{}

// .md-nested-list__checkbox{}

// .md-nested-list__radio-button{}

// .md-nested-list__switch{}

.md-nested-list__text {
    margin-left: auto;
    @include md-typography-label-small;
}

.md-nested-list__item {
    min-height: 56px;
}

.md-nested-list__item--two-line {
    min-height: 72px;
}

.md-nested-list__item--three-line {
    min-height: 88px;
    padding-top: 12px;
    padding-bottom: 12px;
    align-items: start;

    .md-nested-list__video {
        margin-top: 0;
        margin-bottom: 0;
    }

    .md-nested-list__label-secondary {
        height: 40px;
    }
}

@keyframes md-navigation-bar-icon {
    0% {
        width: 32px;
    }
}

.md-navigation-bar__nested-list {
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;

    .md-nested-list__row {
        flex: 1;
    }

    .md-nested-list__item {
        flex-direction: column;
        justify-content: center;
        min-height: 80px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 12px;
        padding-right: 12px;
        row-gap: 4px;

        &.md-ripple--focused {
            &::after {
                opacity: 0;
            }

            .md-nested-list__icon {
                @include md-ripple--focused;
                animation-name: md-navigation-bar-icon;
                animation-duration: var(--md-sys-motion-duration-short4);
                animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-legacy));
            }
        }

        &.md-ripple--pressed {
            &::after {
                opacity: 0;
            }

            .md-nested-list__icon {
                @include md-ripple--pressed;
            }
        }

        &.md-ripple--hover {
            &::after {
                opacity: 0;
            }

            .md-nested-list__icon {
                @include md-ripple--hover;
            }
        }

        &[selected] {
            background: inherit;
            color: inherit;

            .md-nested-list__icon {
                @include md-ripple--selected;
            }
        }
    }

    .md-nested-list__icon {
        width: 64px;
        height: 32px;
        border-radius: calc(32px / 2);
        @include md-ripple;
        @include md-ripple--containment;

        &::after {
            left: 50%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
            animation-name: none !important;
        }
    }

    .md-nested-list__label {
        flex: 0;
    }

    .md-nested-list__label-primary {
        margin-bottom: 4px;
        @include md-typography-label-medium;
    }

    .md-nested-list__badge {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(0%, -50%, 0px);

        &:empty {
            margin-left: 5px;
        }
    }

    .md-nested-list__icon {
        + .md-nested-list__label {
            .md-nested-list__badge {
                margin-top: -10px;
            }
        }
    }

    .md-nested-list__icon {
        + .md-nested-list__label {
            .md-nested-list__label-primary {
                + .md-nested-list__badge {
                    margin-top: -20px;
                }
            }
        }
    }
}

.md-navigation-drawer__nested-list {
    .md-nested-list__item {
        margin-left: 12px;
        margin-right: 12px;
        border-radius: calc(56px / 2);
        column-gap: 12px;
    }

    .md-nested-list__label-primary {
        @include md-typography-label-large;
    }
}

@keyframes md-navigation-rail-icon {
    0% {
        width: 32px;
    }
}

.md-navigation-rail__nested-list {
    padding-top: 0;
    padding-bottom: 0;
    row-gap: 12px;

    .md-nested-list__item {
        flex-direction: column;
        justify-content: center;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 12px;
        padding-right: 12px;
        row-gap: 4px;

        &.md-ripple--focused {
            &::after {
                opacity: 0;
            }

            .md-nested-list__icon {
                @include md-ripple--focused;
                animation-name: md-navigation-rail-icon;
                animation-duration: var(--md-sys-motion-duration-short4);
                animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-legacy));
            }
        }

        &.md-ripple--pressed {
            &::after {
                opacity: 0;
            }

            .md-nested-list__icon {
                @include md-ripple--pressed;
            }
        }

        &.md-ripple--hover {
            &::after {
                opacity: 0;
            }

            .md-nested-list__icon {
                @include md-ripple--hover;
            }
        }

        &[selected] {
            background: inherit;
            color: inherit;

            .md-nested-list__icon {
                @include md-ripple--selected;
            }
        }
    }

    .md-nested-list__icon {
        width: 56px;
        height: 32px;
        border-radius: calc(32px / 2);
        @include md-ripple;
        @include md-ripple--containment;

        &::after {
            left: 50%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
            animation-name: none !important;
        }
    }

    .md-nested-list__label-primary {
        @include md-typography-label-medium;
    }

    .md-nested-list__badge {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(0%, -50%, 0px);

        &:empty {
            margin-left: 5px;
        }
    }

    .md-nested-list__icon {
        + .md-nested-list__label {
            .md-nested-list__badge {
                margin-top: -20px;
            }
        }
    }

    .md-nested-list__icon {
        + .md-nested-list__label {
            .md-nested-list__label-primary {
                + .md-nested-list__badge {
                    margin-top: -20px;
                }
            }
        }
    }
}

.md-tab__nested-list {
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
    // border-bottom: 1px solid var(--md-sys-color-surface-variant);
    // overflow: auto;

    &::after {
        transition-property: all;
        transition-duration: var(--md-sys-motion-duration-short4);
        transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-legacy));
    }

    .md-nested-list__row {
        flex: 1;
        // flex: 1 0 auto;
    }

    .md-nested-list__item {
        justify-content: center;
        min-height: 48px;
        padding-left: 12px;
        padding-right: 12px;
        column-gap: 8px;

        &[selected] {
            background: inherit;
            color: var(--md-sys-color-primary);
        }
    }

    .md-nested-list__label {
        flex: 0 0 auto;
    }

    .md-nested-list__label-primary {
        @include md-typography-label-large;
    }
}

.md-tab__nested-list--primary {
    position: relative;

    &::after {
        content: "";
        width: var(--md-tab-width);
        height: 3px;
        border-radius: 3px 3px 0 0;
        background: var(--md-sys-color-primary);
        position: absolute;
        left: var(--md-tab-left);
        bottom: 0;
    }

    .md-nested-list__item {
        flex-wrap: wrap;
        row-gap: 4px;
    }

    .md-nested-list__icon {
        width: 100%;
    }

    .md-nested-list__icon {
        + .md-nested-list__label {
            .md-nested-list__label-primary {
                + .md-nested-list__badge {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate3d(0%, -50%, 0px);
                    margin-top: -20px;

                    &:empty {
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}

.md-tab__nested-list--secondary {
    position: relative;

    &::after {
        content: "";
        width: var(--md-tab-width);
        height: 2px;
        background: var(--md-sys-color-primary);
        position: absolute;
        left: var(--md-tab-left);
        bottom: 0;
    }
}

.md-menu__nested-list {
    .md-nested-list__item {
        min-height: 48px;
        padding-left: 12px;
        padding-right: 12px;
        column-gap: 12px;
    }

    .md-nested-list__label-primary {
        @include md-typography-label-large;
    }
}
