.md-data-grid {
    display: flex;
    flex-direction: column;
}

.md-data-grid__row {
    display: flex;
    flex-direction: column;
}

.md-data-grid__item {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 0 16px;
}

.md-data-grid__avatar {
    width: 40px;
    height: 40px;
}

.md-data-grid__thumbnail {
    width: 56px;
    height: 56px;
}

.md-data-grid__video {
    height: 64px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: -16px;
}

.md-data-grid__label {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 4px;
}

.md-data-grid__label-primary {
    flex: 1 0 calc(100% - 4px - 34px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include md-typography-body-medium;
}

.md-data-grid__label-secondary {
    flex: 1 0 100%;
    height: 20px;
    overflow: hidden;
    @include md-typography-body-medium;
}

.md-data-grid__text {
    margin-left: auto;
    @include md-typography-label-small;
}

.md-data-grid__item {
    min-height: 56px;
    background: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    border-bottom: 1px solid var(--md-sys-color-outline-variant);
}

.md-data-grid__item--two-line {
    min-height: 72px;
}

.md-data-grid__item--three-line {
    min-height: 88px;
    padding-top: 12px;
    padding-bottom: 12px;
    align-items: start;

    .md-data-grid__video {
        margin-top: 0;
        margin-bottom: 0;
    }

    .md-data-grid__label-secondary {
        height: 40px;
    }
}

.md-data-grid {
    flex-direction: row;
    width: 100%;
    height: 100%;
    position: relative;
    table {
        display: block;
        overflow: auto;
        width: 100%;
        height: 100%;
        border-spacing: 0;
        border-collapse: separate;
    }
    thead {
    }
    tr {
    }
    th {
        text-align: left;

        .md-data-grid__label-primary {
            @include md-typography-label-large;
        }
    }
    tbody {
        tr {
            &[selected] {
                .md-data-grid__item {
                    @include md-ripple--containment;
                    @include md-ripple--selected;
                }
            }
            &:focus {
                .md-data-grid__item {
                    @include md-ripple--containment;
                    @include md-ripple--focused;
                }
            }
            &:hover {
                .md-data-grid__item {
                    @include md-ripple--containment;
                    @include md-ripple--hover;
                    &::after{
                        width: var(--md-ripple-size, 141.4213562373095%);
                    }
                }
            }
            &:active {
                .md-data-grid__item {
                    @include md-ripple--containment;
                    @include md-ripple--pressed;
                }
            }
        }
    }
    td {
        max-width: 0;
        .md-data-grid__item {
            min-height: 52px;
            // border-bottom: 1px solid var(--md-sys-color-outline-variant);
            @include md-ripple;
            @include md-ripple--button;
            // @include md-ripple--containment;
        }
    }
}
.md-data-grid__freeze{position: sticky;}
.md-data-grid__freeze--top{top: 0;}
.md-data-grid__freeze--column{z-index: 2;}
.md-data-grid__freeze--column.md-data-grid__freeze--left{z-index: 3;}
.md-data-grid__freeze--column.md-data-grid__freeze--right{z-index: 3;}
.md-data-grid__freeze--row{z-index: 1;}
.md-data-grid__freeze--left{left: 0;}
.md-data-grid__freeze--right{right: 0;}
.md-data-grid__freeze--end{border-right: 1px solid var(--md-sys-color-outline-variant);}
.md-data-grid__freeze--start{border-left: 1px solid var(--md-sys-color-outline-variant);}
