.md-menu {
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    min-width: 112px;
    max-width: 280px;
    border-radius: var(--md-sys-shape-corner-extra-small);
    background: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface);
    box-shadow: var(--md-sys-elevation-level2);
    position: absolute;
    z-index: 4;
    transition-property: all;
    transition-duration: var(--md-sys-motion-duration-short4);
    transition-timing-function: cubic-bezier(
        var(--md-sys-motion-easing-legacy)
    );

    &:not([open]) {
        opacity: 0;
        pointer-events: none;
    }
}

.md-menu__header {
    display: flex;
    align-items: center;
    padding: 24px;
    gap: 0 16px;
}

.md-menu__actions {
    display: inline-flex;
    align-items: center;
    gap: 0 16px;
}

// .md-menu__action {}

.md-menu__label {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.md-menu__label-primary {
    @include md-typography-title-large;
}

.md-menu__label-secondary {
    @include md-typography-title-small;
}

.md-menu__body {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.md-menu__inner {
    flex: 1;
    overflow: auto;
    @include md-typography-body-medium;
}

.md-menu__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 24px;
    gap: 0 8px;
}

// .md-menu__button {}

.md-menu__scrim {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    transition-property: all;
    transition-duration: var(--md-sys-motion-duration-short4);
    transition-timing-function: cubic-bezier(
        var(--md-sys-motion-easing-legacy)
    );

    &:not([open]) {
        opacity: 0;
        pointer-events: none;
    }
}
