.dev-virtual-scroll__viewport{
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: calc(40px * 5);
    height: calc(40px * 5);
    position: relative;
}
.dev-virtual-scroll__scroll{
    width: 1px;
    position: absolute;
    left: 0;
    top: 0;
}
.dev-virtual-scroll__container{
    display: flex;
    flex-direction: column;
}
.dev-virtual-scroll__item{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 16px;
}