.md-icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    font-size: 24px;
    line-height: 1;
    font-family: "Material Symbols Outlined";
    font-variation-settings:
        "FILL" 0,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
    color: var(--md-sys-color-on-surface-variant);

    &[toggle] {
        &[selected] {
            background: transparent;
            color: var(--md-sys-color-primary);
        }
    }
}

.md-icon-button--filled {
    width: 40px;
    height: 40px;
    border-radius: calc(40px / 2);
    background: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);

    &.md-ripple {
        &::after {
            background: var(--md-sys-color-on-primary);
        }
    }

    &[toggle] {
        background: var(--md-sys-color-surface-variant);
        color: var(--md-sys-color-primary);

        &.md-ripple {
            &::after {
                background: var(--md-sys-color-primary);
            }
        }

        &[selected] {
            background: var(--md-sys-color-primary);
            color: var(--md-sys-color-on-primary);

            &.md-ripple {
                &::after {
                    background: var(--md-sys-color-on-primary);
                }
            }
        }
    }
}

.md-icon-button--tonal {
    width: 40px;
    height: 40px;
    border-radius: calc(40px / 2);
    background: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);

    &[toggle] {
        background: var(--md-sys-color-surface-variant);
        color: var(--md-sys-color-on-surface-variant);

        &[selected] {
            background: var(--md-sys-color-secondary-container);
            color: var(--md-sys-color-on-secondary-container);
        }
    }
}

.md-icon-button--outlined {
    width: 40px;
    height: 40px;
    border-radius: calc(40px / 2);
    border: 1px solid var(--md-sys-color-outline);
    color: var(--md-sys-color-on-surface-variant);

    &[toggle] {
        border: 1px solid var(--md-sys-color-outline);
        color: var(--md-sys-color-on-surface-variant);

        &[selected] {
            border: 1px solid var(--md-sys-color-inverse-surface);
            background: var(--md-sys-color-inverse-surface);
            color: var(--md-sys-color-inverse-on-surface);

            &.md-ripple {
                &::after {
                    background: var(--md-sys-color-on-primary);
                }
            }
        }
    }
}
